<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="initialize()" style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<div class="row-fluid">
			
			<TMPL_INCLUDE NAME="bioinfo_menu.tmpl">

			<div class="span8">
				<h1>Bioinfo Page</h1>
				<p> Here you will find information about all the strains and the
					virluence factors in the database. This is mostly to provide general
					biological information about each strain and each virulence factor.</p>
			</div>

		</div>
	</div>
</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>