<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<div class="row-fluid">
			
			<TMPL_INCLUDE NAME="bioinfo_menu.tmpl">

			<div class="span8">
				<h1>Bioinfo Page - Strain List</h1>
				<p> Here you will find information about all the strains and the
					virluence factors in the database. This is mostly to provide general
					biological information about each strain and each virulence factor.
				</p>
				<p> Click on the links to the left to display differenct tables of information.
				</p>

				<div id="strain_list">
					<table class="table table-condensed">
						<thead><h4>List of Current Strains:</h4></thead>	
						<TMPL_LOOP NAME=FEATURES>
						<tr>
							<td><a name="bioinfoStrainName" value='<TMLP_VAR NAME=FEATUREID'><TMPL_VAR NAME=UNIQUENAME></a></td>
						</tr>
						</TMPL_LOOP>
					</table>
				</div> 
			</div>

		</div>
	</div>
</body>
<TMPL_INCLUDE NAME="footer.tmpl">

</html>