<div class="span4" >
	<ul class="span8 nav nav-tabs nav-stacked" style="padding:20px 0px 0px 0px">
		<li class="divider"></li>
		<li><a href="strain_list">Strain List</a></li>
		<li><a href="virulence_factors">Virulence Factors</a></li>
		<li><a href="statistics">Statistics</a></li>
	</ul>
</div>