<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="initialize()" style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<div class="row-fluid">
			
			<TMPL_INCLUDE NAME="bioinfo_menu.tmpl">

			<div class="span8">
				<h1>Bioinfo Page</h1>
				<p> Here you will find information about all the strains and the
					virluence factors in the database. This is mostly to provide general
					biological information about each strain and each virulence factor.
				</p>
				<p> Page will display a table with a list of strains (embedded as links) and their serotypes. 
					When the user hovers over each one a popup will show its information and
					a link to it sequence and other meta info.
				</p>
				<p> Virlence factors will also be a list of links. When the user hovers over
					each one a list of strains that contain the factors will be displayed.
				</p>
				
				<table class="table">
				<thead><h4>List of Current Virulence Factors:</h4></thead>	
				<TMPL_LOOP NAME=FEATURES>
				<tr>
					<td>VF ID: <TMPL_VAR NAME=UNIQUENAME></td>
					<td>Feature ID: <TMPL_VAR NAME=FEATUREID></td>
				</tr>
				</TMPL_LOOP>
				</table>
			</div>

		</div>
	</div>
</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>