<div class="span4">
	<ul class="span8 offset1 nav nav-tabs nav-stacked">
		<li class="nav-header">Bioinfo</li>
		<li class="divider"></li>
		<li><a href="#">Strain List</a></li>
		<li><a href="#">Virulence Factors</a></li>
		<li><a href="#">Statistics</a></li>
	</ul>
</div>