<div class="span4" >
	<ul class="span8 nav nav-tabs nav-stacked" style="padding:20px 0px 0px 0px">
		<li class="divider"></li>
		<li><a href="" onclick="showStrainList()">Strain List</a></li>
		<li><a href="" onlclick="showVirulenceFactors()">Virulence Factors</a></li>
		<li><a href="">Statistics</a></li>
	</ul>
</div>