<div class="span4" >
	<h5 style="padding:0px 0px 0px 20px">View Bioinfo</h5>
	<ul class="span8 nav nav-tabs nav-stacked" style="padding:0px 0px 0px 0px">
		<li class="divider"></li>
		<li><a href="#">Strain List</a></li>
		<li><a href="#">Virulence Factors</a></li>
		<li><a href="#">Statistics</a></li>
	</ul>
</div>