<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<div class="row-fluid">
			
			<TMPL_INCLUDE NAME="bioinfo_menu.tmpl">

			<div class="span8">
				<h1>Bioinfo Page - Virulence Factors</h1>
				<p> Here you will find information about all the strains and the
					virluence factors in the database. This is mostly to provide general
					biological information about each strain and each virulence factor.
				</p>
				<p> Click on the links to the left to display differenct tables of information.
				</p>

				<!--> Until we have ajax up and running well have to implement calls using HTML::Template in Perl
				<table class="table">
					<thead><h4>List of Current Strains:</h4></thead>
					<TMPL_LOOP NAME=vFACTORS>
					<tr><td>
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"><TMPL_VAR NAME=UNIQUENAME><span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><TMPL_VAR NAME=FEATUREID></li>
							</ul>
						</div>
					</td></tr>
					</TMPL_LOOP>
					<script>$('.dropdown-toggle').dropdown()</script>
				</table>
				<-->

				<div class="row-fluid">
					<form class="form span5" action="/home/dispatch.cgi/virulence_factors/" method="post" enctype="application/x-www-form-urlencoded">
						<fieldset>
							<h5 style="margin:0px 0px 0px 10px">Select a virulence factor from the list:</h5>
							<select class="span12" style="margin:10px 0px 0px 0px" name="virluenceFactorName">
								<TMPL_LOOP NAME=vFACTORS>
								<option name="virulenceFactorName" value='<TMPL_VAR NAME=FEATUREID>'><TMPL_VAR NAME=UNIQUENAME></option>
								</TMPL_LOOP>
							</select>
							<div style="margin:10px 0px 0px 0px">
								<button id="showVFInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> Virulence Factor Info</button>
								<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
							</div>
						</fieldset>
					</form>

					<div class="span6">Information will pop up here. Similar to the way the single and multi strain pages load.</div>

				</div>

			</div>

		</div>
	</div>
</body>
<TMPL_INCLUDE NAME="footer.tmpl">

</html>