<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body onload="initialize()" style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<TMPL_INCLUDE NAME="carousel.tmpl">

	<div class="container" style="background-color:#FFFFFF; margin-top:5px">
		
		<div class="row-fluid">

			<TMPL_INCLUDE NAME="single_strain_search_form.tmpl">

			<div class="span4">
				<p>Multistrain content and operations go here.</p>
				<ul>
					<li>Group comparisons</li>
					<li>Selecting
						<ul>
							<li>map</li>
							<li>phylogenetis</li>
							<li>lists</li>
						</ul>
					</li>
				</ul>
			</div>			

			<TMPL_INCLUDE NAME="bioinfo_menu.tmpl">

		</div>

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>