<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#FFFFFF">
		
		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
			<h1>Genome Uploader</h1>
		</div>

		<div style="margin:10px 10px 10px 10px;padding:10px 10px 0px 10px;border-style:solid;border-width:1px;border-color:#d3d3d3">
			<form class="form" method="post">
				<fieldset class="form-inline">
						<input class="input" type="file"></input>
						<!--button type="button" class="btn btn-small btn-primary" name="attach_file" value="Attach file"><i class="icon-folder-open icon-white"></i> Attach file</button-->
				</fieldset>

				<hr/>

				<fieldset class="form-horizontal">
					<span class="help-block" style="margin:10px"> The following fields are required:</span>
					<div class="control-group">
						<label class="control-label" for="inputGenomeName">Genome Name</label>
						<div class="controls">
							<input type="text" id="inputGenomeName" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputAliasName">Alias Name</label>
						<div class="controls">
							<input type="text" id="inputAliasName" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputIsolationDate">Date of Isolation</label>
						<div class="controls">
							<input type="text" id="inputIsolationDate" placeholder="DD/MM/YYYY" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputHostSource">Isolation Host Source</label>
						<div class="controls">
							<input type="text" id="inputHostSource" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputIsolationLocation">Location of Isolation</label>
						<div class="controls">
							<input type="text" id="inputIsolationLocation" placeholder="(Lat/Long)"required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSpeciesName">Species Name</label>
						<div class="controls">
							<input type="text" id="inputSpeciesName" required>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputSerotype">Serotype</label>
						<div class="controls">
							<input type="text" id="inputSerotype" required>
						</div>
					</div>
				</fieldset>

				<hr/>

				<fieldset class="form-inline">
					<span class="help-block" style="margin:10px"> The following fields are optional:</span>
					<div style="margin-top:10px">
						<select>
							<TMPL_LOOP NAME=GENOMEUPLOADFORMDATA>
							<option><TMPL_VAR NAME=TERM></option>
							</TMPL_LOOP>
						</select>
						<input type="text"></input>
						<button style="margin:0px 20px 0px 20px" type="button" class="btn"><i class="icon-plus"></i></button>
					</div>
				</fieldset>
				<hr/>
				<button type="button" class="btn btn-small btn-success" name="submit_strain" value="Submit"><i class="icon-upload icon-white"></i> Submit</button>
				<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Clear Form</button>
			</form>
		</div>

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>