<head>
	<title> A test template for the DisplayTest module</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="/App/Styling/css/bootstrap.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/App/Styling/css/bootstrap-responsive.css" media="screen">

	<!-- Javascript -->
	<script type="text/javascript" src="/App/Styling/js/raphael-min.js"></script>
	<script type="text/javascript" src="/App/Styling/js/jsphylosvg.js"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDfsRetldM0eW0vVemFKt48xYaZwKQACY&sensor=false"></script>
	
	<!--jQuery-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	
</head>
