<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="initialize()" style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<h1>Multi-strain Page</h1>

		<div class="row-fluid">
			<div class="span4" style="padding:10px">
				<TMPL_INCLUDE NAME="multi_strain_selection_form.tmpl">
			</div>

			<div id="suprise" class="span8" style="padding:10px">
				<p>Seq data should show up here when a selection is made in the menu</p>
			</div>

		</div>

		<div class="container" style="background-color:#FFFFFF;min-height:560px;margin-top:5px">
			<div class="row-fluid">
				<div id="svgCanvas" class="span6" style="padding:5px">
					<p>Phylogeny Comparisons go here</p>
					<TMPL_INCLUDE NAME="phylogeny_multi_strain.tmpl">
				</div>
				<div class="span6" id="map_canvas" style="height:500px;padding:5px"></div>
			</div>
		</div>

		<!--The following div works better for the fluid/responsive layout than the table commented out below-->

	<!--div style="padding:10px">
		<div class="container row-fluid">
			<div class="span2"><strong>Feature ID</strong></div>
			<div class="span2"><strong>Unique Name</strong></div>
			<div class="span8"><strong>DNA Sequence</strong></div>
		</div>
		<TMPL_LOOP NAME=FEATURES>
		<ul class ="nav nav-list">
			<li class="divider"></li>
		</ul>
		<div class="container row-fluid hover">
			<div class="span2"><TMPL_VAR NAME=FEATUREID></div>
			<div class="span2"><TMPL_VAR NAME=UNIQUENAME></div>
			<div class="span8" style="word-wrap:break-word"><TMPL_VAR NAME=RESIDUES></div>
		</div>
		</TMPL_LOOP>
	</div-->
		<!--table class="table table-condensed table-hover container" style="cellpadding:10px">
			<thead>
				<tr>
					<th class="span2">Feature ID</th>
					<th class="span2">Unique Name</th>
					<th class="span8">DNA Sequence</th>
				</tr>
			</thead>
			<tbody>
				<TMPL_LOOP NAME=FEATURES>
				<tr>
					<td class="span2"><TMPL_VAR NAME=FEATUREID></td>
					<td class="span2"><TMPL_VAR NAME=UNIQUENAME></td>
					<td class="span8" style="word-wrap:break-word"><TMPL_VAR NAME=RESIDUES></td>
				</tr>
				</TMPL_LOOP>
			</tbody>
		</table-->

	</div>

</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>