<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="onLoadCheck()" style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		<h1>Multi-strain Page</h1>

		<div class="row-fluid">
			<div class="span4" style="padding:10px">
				<TMPL_INCLUDE NAME="multi_strain_selection_form.tmpl">
			</div>

			<!--div id="multiOption" class="span8" style="display:none;padding:10px">
				<form style="border:solid;border-width:1px;padding:10px">
					<span class="help-block">Download multi-strain comparison info: </span>
					<fieldset>
						<div style="padding:0px 0px 95px 0px">
							<label class="checkbox"><input type="checkbox">Sequences</input></label>
							<label class="checkbox"><input type="checkbox">SVG tree</input></label>
							<label class="checkbox"><input type="checkbox">Strain meta-info</input></label>

						</div>
						<button class="btn btn-primary btn-small" type="button"><i class="icon-download-alt icon-white"></i> Download</button>
					</fieldset>
				</form>
			</div-->

			<div id="group1" class="span4" style="padding:10px">
				<form style="border:solid;border-width:1px;padding:10px">
					<span class="help-block">Group 1: </span>
					<fieldset>
					</fieldset>
				</form>
			</div>

			<div id="group2" class="span4" style="padding:10px">
				<form style="border:solid;border-width:1px;padding:10px">
					<span class="help-block">Group 2: </span>
					<fieldset>
					</fieldset>
				</form>
			</div>

		</div>

		<div id="multiStrain" class="container" style="display:none;background-color:#FFFFFF;min-height:560px;margin-top:5px">
			<div class="row-fluid">
				<div id="svgCanvas" class="span6" style="display:none;padding:5px">
					<TMPL_INCLUDE NAME="phylogeny_multi_strain.tmpl">
				</div>
				<div class="span6" id="map_canvas" style="display:none;height:500px;padding:5px"></div>
			</div>
		</div>

		<TMPL_LOOP NAME=mSFEATURES>
		<div class="row-fluid" id="mSeqDiv" style="diplay:none;margin:10px 0px 10px 0px">
			<div class="span4">
				<ul>
					<li>Name: <TMPL_VAR NAME=mSVALUE></li>
					<li>Feature ID: <TMPL_VAR NAME=mSFEATUREID></li>
					<li>Uniquename: <TMPL_VAR NAME=mSUNIQUENAME></li>
					<li>Sequence Length: <TMPL_VAR NAME=mSSEQLENGTH> bp</li>
				</ul>
			</div>
			<div id="mSeq" class="span8" style="overflow:auto;word-wrap:break-word;max-height:100px"><TMPL_VAR NAME=mSRESIDUES></div>
		</div>
		</TMPL_LOOP>

	</div>

	<div id="validator" style="display:none"><TMPL_VAR NAME=mSVALIDATOR></div>

</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>