	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="/home/dispatch.cgi/">Home</a></li>
					<li><a href="/home/dispatch.cgi/strain_info">Strain Info</a></li>
					<li><a href="/home/dispatch.cgi/group_wise_comparisons">Group Wise Comparisons</a></li>
					<li><a href="/home/dispatch.cgi/virulence_factors">Virulence Factors</a></li>
					<li><a href="/home/dispatch.cgi/genome_uploader">Genome Uploader</a></li>
					<li><a href="">Statistics</a></li>
				</ul>
				<div class="dropdown" style="float:right">
					<a class="btn dropdown-toggle btn-inverse btn-small" data-toggle="dropdown" href="#">
						Viewing Options
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Common Name</label>
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Genbank ID</label>
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Primary Key</label>
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">Serotype</label>
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">Source of Isolation</label>
					<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">Date of Isolation</label>
				</ul>
					<script type="text/javascript" src="/App/Styling/js/bootstrap.js">$('.dropdown-toggle').dropdown()</script>
				</div>
			</div>
		</div>
	</div>