	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="/home/dispatch.cgi/">Home</a></li>
					<li><a href="/home/dispatch.cgi/single_strain">Single-strain Ops</a></li>
					<li><a href="/home/dispatch.cgi/multi_strain">Multi-strain Ops</a></li>
					<li><a href="/home/dispatch.cgi/bioinfo">Bioinfo</a></li>
				</ul>
			</div>
		</div>
	</div>