<div class="span4" class="row-fluid">
	<form id="sSSearchForm" class="form" style="padding:10px 0px 0px 0px" action="/home/dispatch.cgi/single_strain/" method="post" enctype="application/x-www-form-urlencoded">
		<fieldset>
			<h5 style="margin:0px 0px 5px 0px">View single strain information by typing in the search box. You will see suggested strains in the database. You can also select from the drop down list below</h5>
			<script src="/App/Styling/js/jquery-1.9.1.js"></script>
			<script src="/App/Styling/js/jquery-ui-1.10.1.js"></script>
			<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.1.css">
			<style>
			.ui-autocomplete {
				max-height: 200px;
				overflow-y: auto;
				overflow-x: hidden;
			}
			* html .ui-autocomplete {
				height: 100px;
			}
			</style>
			<script>
			$(function() {
				var availableTags = [ <TMPL_LOOP NAME=FORMDATA> { label:"<TMPL_VAR NAME=UNIQUENAME>", value:"<TMPL_VAR NAME=UNIQUENAME>" } , </TMPL_LOOP> ]
				$("#autoComp").autocomplete({
					source: availableTags
				});
			});
			</script>
			<input id="autoComp" class="span12" type="text" autocomplete="off" placeholder="Search for a strain" name="singleStrainName" value='<TMPL_VAR NAME=UNIQUENAME>'></input>
			<div>
				<button id="sSSearchButton" type="button" class="btn btn-small btn-success" value="Submit"><i class="icon-search icon-white"></i> Search</button>
				<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
			</div>
			<!--hr-->
		</fieldset>
	</form>
	<form class="form" action="/home/dispatch.cgi/single_strain/" method="post" enctype="application/x-www-form-urlencoded">
		<fieldset>
			<span style="color:#796e6c">Select a strain from the list:</span>
			<select class="span12" style="margin:10px 0px 0px 0px" name="singleStrainName">
				<TMPL_LOOP NAME=FORMDATA>
				<option value='<TMPL_VAR NAME=UNIQUENAME>'><TMPL_VAR NAME=UNIQUENAME></option>
				</TMPL_LOOP>
			</select>
			<div style="margin:10px 0px 0px 0px">
				<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> Strain Info</button>
				<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
			</div>
			<!--hr-->
		</fieldset>
	</form>
	<!--form class="form" style="padding:0px 70px 5px 20px" method="post">
		<fieldset>
			<span class="help-block">Attach a strain file and submit it for analysis</span>
			<input type="text" class="span12" readonly placeholder="This feature is currently disabled"></input>
			<div>
				<button type="submit" class="btn btn-small btn-primary disabled" name="attach_file" value="Attach file"><i class="icon-folder-open icon-white"></i> Attach file</button>
				<button type="submit" class="btn btn-small btn-success disabled" name="submit_strain" value="Submit"><i class="icon-ok icon-white"></i> Submit</button>
				<button type="reset" class="btn btn-small btn-danger disabled" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
			</div>
		</fieldset-->
	</form>
	<script>
		$('#sSSearchButton').click(function(){
			checkSSFields(sSSearchForm);
		});
	</script>	
	<script type="text/javascript">
	function checkSSFields(sSSearchForm) {
		if (sSSearchForm.singleStrainName.value == "") {
			alert("You must enter a valid search term.");
			return false;
		}
		else {
			$('#sSSearchForm').submit();
			return true;
		}
	}
	</script>
</div>
