RewriteEngine On

# You may want to change the base if you are using the dispatcher within a
# specific directory.
RewriteBase /

RewriteRule ^$ /home/dispatch.cgi/home [L]
 
# If an actual file or directory is requested, serve directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Otherwise, pass everything through to the dispatcher
RewriteRule ^(.*)$ /home/dispatch.cgi/$1 [L,QSA]
