/*
 
 File: superphy.less
 Desc: Main Superphy stylesheet. Secondary style sheets
   should be imported in this sheet.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 27th, 2013
 
 * */
/*
 
 File: superphy_tree.less
 Desc: Stylesheet for TreeView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 27th, 2013
 
 * */
/** Text **********************************/
/** Nodes *********************************/
.treenode .treeicon {
  font-family: FontAwesome;
  font-size: 12px;
}
.treenode .treelabel {
  font: 12px sans-serif;
}
.treenode circle {
  fill: #ffffff;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.treenode rect {
  fill: #ffffff;
  stroke: #ff0000;
  stroke-width: 1.5px;
}
.selectedNode .treelabel {
  color: grey;
}
.groupedNode10 circle {
  fill: #dadb37;
  stroke: #91921a;
  stroke-width: 3px;
}
.groupedNode9 circle {
  fill: #31d7e8;
  stroke: #1294a1;
  stroke-width: 3px;
}
.groupedNode8 circle {
  fill: #999999;
  stroke: #666666;
  stroke-width: 3px;
}
.groupedNode7 circle {
  fill: #aa6d60;
  stroke: #6b4239;
  stroke-width: 3px;
}
.groupedNode6 circle {
  fill: #eca1d5;
  stroke: #da4daf;
  stroke-width: 3px;
}
.groupedNode5 circle {
  fill: #ad8bcc;
  stroke: #7b49a8;
  stroke-width: 3px;
}
.groupedNode4 circle {
  fill: #df5152;
  stroke: #ab1f20;
  stroke-width: 3px;
}
.groupedNode3 circle {
  fill: #37c837;
  stroke: #217821;
  stroke-width: 3px;
}
.groupedNode2 circle {
  fill: #ff9a41;
  stroke: #da6600;
  stroke-width: 3px;
}
.groupedNode1 circle {
  fill: #2b93db;
  stroke: #185a88;
  stroke-width: 3px;
}
/** Links *********************************/
.treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/*
 
 File: superphy_msa.less
 Desc: Stylesheet for MsaView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 15th, 2013
 
 * */
.superphy-msa {
  padding: 20px;
}
/** Row names *****************************/
td.msa_row_name {
  padding-right: 10px;
  text-align: right;
}
/** Nucleotides ***************************/
.nucText {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
}
td.nuclA {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F5A9A9;
}
td.nuclT {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #A9D0F5;
}
td.nuclG {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F3F781;
}
td.nuclC {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #A9F5A9;
}
td.nuclGap {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F2F2F2;
}
td.consM,
td.consMM {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  font-color: #A4A4A4;
}
td.msaPosition {
  text-align: right;
  text-valign: top;
  padding-bottom: 24px;
}
/*
 
 File: superphy_list.less
 Desc: Stylesheet for ListView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 15th, 2013
 
 * */
.superphy-list {
  padding: 20px;
}
.superphy-list ul {
  list-style-type: none;
  display: block;
  max-height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
li.genome_group10 {
  color: #91921a;
  font: italic bold 13px sans-serif;
}
li.genome_group10 input {
  visibility: hidden;
}
li.genome_group9 {
  color: #1294a1;
  font: italic bold 13px sans-serif;
}
li.genome_group9 input {
  visibility: hidden;
}
li.genome_group8 {
  color: #666666;
  font: italic bold 13px sans-serif;
}
li.genome_group8 input {
  visibility: hidden;
}
li.genome_group7 {
  color: #6b4239;
  font: italic bold 13px sans-serif;
}
li.genome_group7 input {
  visibility: hidden;
}
li.genome_group6 {
  color: #da4daf;
  font: italic bold 13px sans-serif;
}
li.genome_group6 input {
  visibility: hidden;
}
li.genome_group5 {
  color: #7b49a8;
  font: italic bold 13px sans-serif;
}
li.genome_group5 input {
  visibility: hidden;
}
li.genome_group4 {
  color: #ab1f20;
  font: italic bold 13px sans-serif;
}
li.genome_group4 input {
  visibility: hidden;
}
li.genome_group3 {
  color: #217821;
  font: italic bold 13px sans-serif;
}
li.genome_group3 input {
  visibility: hidden;
}
li.genome_group2 {
  color: #da6600;
  font: italic bold 13px sans-serif;
}
li.genome_group2 input {
  visibility: hidden;
}
li.genome_group1 {
  color: #185a88;
  font: italic bold 13px sans-serif;
}
li.genome_group1 input {
  visibility: hidden;
}
/*
 
 File: search_utilities.less
 Desc: Stylesheet for the meta-display and filter form
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 28th, 2013
 
 * */
/** Top Button ****************************/
#utility-button {
  font-size: 12pt;
  padding: 10px;
}
/** Filter Status *************************/
#filter-status div {
  display: inline-block;
  margin: 5px;
  padding-left: 15px;
}
#filter-status button {
  display: inline-block;
  margin: 10px;
}
/** Meta-Display **************************/
#meta-display-form {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  min-height: 200px;
}
#meta-display h4 {
  padding-left: 10px;
}
#meta-display p {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#meta-display div {
  padding-bottom: 5px;
  padding-left: 15px;
}
/** Filter Form ***************************/
#filter-form {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  min-height: 200px;
}
#filter-form h4 {
  padding-left: 10px;
}
#filter-form p {
  padding-left: 20px;
  padding-top: 5px;
}
#select-filter-form div {
  padding-bottom: 5px;
  padding-left: 15px;
}
.formSpacing p {
  padding-left: 30px;
  padding-top: 5px;
}
.formSpacing input {
  margin: 10px;
}
.formSpacing button {
  margin: 10px;
}
.formSpacing select {
  margin: 10px;
}
#fast-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#fast-filter input {
  margin: 10px;
}
#fast-filter button {
  margin: 10px;
}
#fast-filter select {
  margin: 10px;
}
#adv-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#adv-filter input {
  margin: 10px;
}
#adv-filter button {
  margin: 10px;
}
#adv-filter select {
  margin: 10px;
}
#adv-filter #adv-filter-rows .adv-filter-row div {
  display: inline-block;
}
#adv-filter #adv-filter-rows .adv-filter-row select {
  display: inline-block;
}
#adv-filter #adv-filter-rows .adv-filter-row a {
  display: inline-block;
}
#selection-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#selection-filter input {
  margin: 10px;
}
#selection-filter button {
  margin: 10px;
}
#selection-filter select {
  margin: 10px;
}
/** Mixins ********************************/
/*
 
 File: superphy_ticker.less
 Desc: Stylesheet for Ticker object tables.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 21th, 2013
 
 * */
/** Table *********************************/
.superphy_ticker_table td,
.superphy_ticker_table th {
  padding: 5px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
.histobar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}
.histobar text {
  fill: #000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
/*
 
 File: superphy_matrix.less
 Desc: Stylesheet for MatrixView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 27th, 2013
 
 * */
/** Background ****************************/
.matrixBackground {
  fill: #EEEEEE;
}
/** Styles ********************************/
.allele_histogram {
  padding: 10px;
}
line {
  stroke: #FFFFFF;
}
text.matrixActive {
  fill: #FF0000;
}
.groupedRow0 rect.matrixcell {
  fill: #000;
}
.groupedRow10 rect.matrixcell {
  fill: #91921a;
}
.groupedRow9 rect.matrixcell {
  fill: #1294a1;
}
.groupedRow8 rect.matrixcell {
  fill: #666666;
}
.groupedRow7 rect.matrixcell {
  fill: #6b4239;
}
.groupedRow6 rect.matrixcell {
  fill: #da4daf;
}
.groupedRow5 rect.matrixcell {
  fill: #7b49a8;
}
.groupedRow4 rect.matrixcell {
  fill: #ab1f20;
}
.groupedRow3 rect.matrixcell {
  fill: #217821;
}
.groupedRow2 rect.matrixcell {
  fill: #da6600;
}
.groupedRow1 rect.matrixcell {
  fill: #185a88;
}
/** Drop down *****************************/
div.matrixSort {
  padding: 20px;
}
.map-canvas {
  height: 300px;
}
.map-manifest {
  pading-top: 0px;
  margin-top: 0px;
}
.map-search-table .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0px;
}
.map-search-div {
  margin-top: 20px;
}
.map-manifest ul {
  list-style-type: none;
  display: block;
  max-height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
.panel-group .panel {
  border-radius: 0px;
}
.vf-panel-table {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.amr-panel-table {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.panel-div {
  max-height: 500px;
  overflow: auto;
}
/** Colors ********************************/
/** Mixins ********************************/
.borderStyle {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
/** Styles ********************************/
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
.title {
  margin: 10px;
  padding: 10px;
}
.titleText {
  font-weight: bold;
}
.title_part1 {
  font-weight: bold;
}
.title_part2 {
  font-weight: bold;
  color: #d41616;
}
.footnote {
  font-size: 80%;
  padding: 10px;
}
.download-view {
  margin-left: auto;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.download-view-link {
  clear: both;
  float: right;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
}
.locus_group10 {
  color: #91921a;
}
.locus_group9 {
  color: #1294a1;
}
.locus_group8 {
  color: #666666;
}
.locus_group7 {
  color: #6b4239;
}
.locus_group6 {
  color: #da4daf;
}
.locus_group5 {
  color: #7b49a8;
}
.locus_group4 {
  color: #ab1f20;
}
.locus_group3 {
  color: #217821;
}
.locus_group2 {
  color: #da6600;
}
.locus_group1 {
  color: #185a88;
}
.group-form-row {
  padding-top: 20px;
  padding-bottom: 10px;
}
.add-genome-groups > div {
  padding-top: 20px;
  padding-bottom: 30px;
}
.add-genome-groups > div button {
  float: right;
}
.genome-group-list {
  list-style-type: none;
  display: block;
  max-height: 500px;
  max-width: 350px;
  min-height: 50px;
  width: 350px;
  overflow: auto;
  padding: 10px;
  margin: 10px;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
#genome-group-add10 {
  background-color: #e2e362;
}
#genome-group-add9 {
  background-color: #5fe0ed;
}
#genome-group-add8 {
  background-color: #b2b2b2;
}
#genome-group-add7 {
  background-color: #bc8b81;
}
#genome-group-add6 {
  background-color: #f4cce8;
}
#genome-group-add5 {
  background-color: #c6aedc;
}
#genome-group-add4 {
  background-color: #e77c7d;
}
#genome-group-add3 {
  background-color: #5fd35f;
}
#genome-group-add2 {
  background-color: #ffb574;
}
#genome-group-add1 {
  background-color: #57a9e2;
}
