/*
 
 File: superphy.less
 Desc: Main Superphy stylesheet. Secondary style sheets
   should be imported in this sheet.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 27th, 2013
 
 * */
/*
 
 File: superphy_tree.less
 Desc: Stylesheet for TreeView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 27th, 2013
 
 * */
/** Text **********************************/
/** Nodes *********************************/
.treenode .treeicon {
  font-family: FontAwesome;
  font-size: 12px;
}
.treenode .treelabel {
  font: 12px sans-serif;
}
.treenode circle {
  fill: #ffffff;
  stroke: #4682b4;
  stroke-width: 1.5px;
}
.treenode rect {
  fill: #ffffff;
  stroke: #ff0000;
  stroke-width: 1.5px;
}
.selectedNode .treelabel {
  color: grey;
}
.groupedNode10 circle {
  fill: #e2fbfb;
  stroke: #88edef;
  stroke-width: 3px;
}
.groupedNode9 circle {
  fill: #f362b7;
  stroke: #df1089;
  stroke-width: 3px;
}
.groupedNode8 circle {
  fill: #d3d6d6;
  stroke: #9fa4a4;
  stroke-width: 3px;
}
.groupedNode7 circle {
  fill: #f26262;
  stroke: #dc1212;
  stroke-width: 3px;
}
.groupedNode6 circle {
  fill: #f29451;
  stroke: #cd5f10;
  stroke-width: 3px;
}
.groupedNode5 circle {
  fill: #c32bad;
  stroke: #6f1963;
  stroke-width: 3px;
}
.groupedNode4 circle {
  fill: #16d8c3;
  stroke: #0c7c6f;
  stroke-width: 3px;
}
.groupedNode3 circle {
  fill: #f9f386;
  stroke: #f5e924;
  stroke-width: 3px;
}
.groupedNode2 circle {
  fill: #85bb77;
  stroke: #528844;
  stroke-width: 3px;
}
.groupedNode1 circle {
  fill: #487fc8;
  stroke: #274e83;
  stroke-width: 3px;
}
/** Links *********************************/
.treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/*
 
 File: superphy_msa.less
 Desc: Stylesheet for MsaView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 15th, 2013
 
 * */
.superphy-msa {
  padding: 20px;
}
/** Row names *****************************/
td.msa_row_name {
  padding-right: 10px;
  text-align: right;
}
/** Nucleotides ***************************/
.nucText {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
}
td.nuclA {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F5A9A9;
}
td.nuclT {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #A9D0F5;
}
td.nuclG {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F3F781;
}
td.nuclC {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #A9F5A9;
}
td.nuclGap {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  background-color: #F2F2F2;
}
td.consM,
td.consMM {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  text-valign: center;
  color: black;
  font-size: 10pt;
  font-color: #A4A4A4;
}
td.msaPosition {
  text-align: right;
  text-valign: top;
  padding-bottom: 24px;
}
/*
 
 File: superphy_list.less
 Desc: Stylesheet for ListView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 15th, 2013
 
 * */
.superphy-list {
  padding: 20px;
}
.superphy-list ul {
  list-style-type: none;
  display: block;
  max-height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
/*
 
 File: search_utilities.less
 Desc: Stylesheet for the meta-display and filter form
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: March 28th, 2013
 
 * */
/** Top Button ****************************/
#utility-button {
  font-size: 12pt;
  padding: 10px;
}
/** Filter Status *************************/
#filter-status div {
  display: inline-block;
  margin: 5px;
  padding-left: 15px;
}
#filter-status button {
  display: inline-block;
  margin: 10px;
}
/** Meta-Display **************************/
#meta-display-form {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  min-height: 200px;
}
#meta-display h4 {
  padding-left: 10px;
}
#meta-display p {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#meta-display div {
  padding-bottom: 5px;
  padding-left: 15px;
}
/** Filter Form ***************************/
#filter-form {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  min-height: 200px;
}
#filter-form h4 {
  padding-left: 10px;
}
#filter-form p {
  padding-left: 20px;
  padding-top: 5px;
}
#select-filter-form div {
  padding-bottom: 5px;
  padding-left: 15px;
}
.formSpacing p {
  padding-left: 30px;
  padding-top: 5px;
}
.formSpacing input {
  margin: 10px;
}
.formSpacing button {
  margin: 10px;
}
.formSpacing select {
  margin: 10px;
}
#fast-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#fast-filter input {
  margin: 10px;
}
#fast-filter button {
  margin: 10px;
}
#fast-filter select {
  margin: 10px;
}
#adv-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#adv-filter input {
  margin: 10px;
}
#adv-filter button {
  margin: 10px;
}
#adv-filter select {
  margin: 10px;
}
#adv-filter #adv-filter-rows .adv-filter-row div {
  display: inline-block;
}
#adv-filter #adv-filter-rows .adv-filter-row select {
  display: inline-block;
}
#adv-filter #adv-filter-rows .adv-filter-row a {
  display: inline-block;
}
#selection-filter p {
  padding-left: 30px;
  padding-top: 5px;
}
#selection-filter input {
  margin: 10px;
}
#selection-filter button {
  margin: 10px;
}
#selection-filter select {
  margin: 10px;
}
/** Mixins ********************************/
/*
 
 File: superphy_ticker.less
 Desc: Stylesheet for Ticker object tables.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 21th, 2013
 
 * */
/** Table *********************************/
.superphy_ticker_table td,
.superphy_ticker_table th {
  padding: 5px;
  text-align: center;
}
/*
 
 File: superphy_matrix.less
 Desc: Stylesheet for MatrixView.
 Author: Matt Whiteside matthew.whiteside@phac-aspc.gc.ca
 Date: April 27th, 2013
 
 * */
/** Background ****************************/
.matrixBackground {
  fill: #EEEEEE;
}
/*line {
    stroke: #FFFFFF;
}



text.matrixActive {
  fill: #FF0000;
}


// Node style mixins
.nodeShape(@color: steelblue, @fill: #fff, @width: 1.5px) {
  fill: @fill;
  stroke: @color;
  stroke-width: @width;
}

.groupedStyle(@color) {
  @light-color: lighten(@color, 10%);
  @dark-color: darken(@color, 10%);
  
  .treelabel {
    //font: @selectedfont;
  }

  circle {
    .nodeShape(@dark-color, @light-color, 3px);
  }
  
}

// Create looping constructor to create styles for groups1-7
.treenodeGroupConstructor (@index) when (@index > 0) {

  // create style
  //(~".groupedNode@{index}") {
  .groupedNode@{index} {
   
    @color: "group@{index}-color";
    .groupedStyle(@@color);
  }

  // next iteration
  .treenodeGroupConstructor(@index - 1);
}


.treenode {
  
  .treeicon {
    font-family: FontAwesome;
    font-size: 12px;
  }
  
  .treelabel {
    font: @textfont;
  }

  circle {
    .nodeShape;
  }
  
  rect {
    .nodeShape(red);
  }
  
}

.selectedNode {
  
  .treelabel {
    color: grey;
  }
  
}

// Define color schemes for up to 10 groups
.treenodeGroupConstructor(@group-num);


.treelink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}*/
/** Colors ********************************/
/** Mixins ********************************/
.borderStyle {
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
}
/** Styles ********************************/
body {
  padding-top: 70px;
  padding-bottom: 70px;
}
.title {
  margin: 10px;
  padding: 10px;
}
.titleText {
  font-weight: bold;
}
.title_part1 {
  font-weight: bold;
}
.title_part2 {
  font-weight: bold;
  color: #d41616;
}
.footnote {
  font-size: 80%;
  padding: 10px;
}
.download-view {
  margin-left: auto;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.download-view-link {
  clear: both;
  float: right;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 10px;
}
.locus_group10 {
  color: #88edef;
}
.locus_group9 {
  color: #df1089;
}
.locus_group8 {
  color: #9fa4a4;
}
.locus_group7 {
  color: #dc1212;
}
.locus_group6 {
  color: #cd5f10;
}
.locus_group5 {
  color: #6f1963;
}
.locus_group4 {
  color: #0c7c6f;
}
.locus_group3 {
  color: #f5e924;
}
.locus_group2 {
  color: #528844;
}
.locus_group1 {
  color: #274e83;
}
