<script type="text/javascript" src="/App/Styling/js/genodo_map_functions.js"></script>
<script type="text/javascript" src="/App/Styling/js/markerclusterer.js"></script>

<div style="margin:10px">
	<p style="margin-bottom: 40px">
		Select strains from the map. As you zoom in and out and pan accross the map the list of markers on the right will change.
	</p>
	<div style="padding: 0 10px 0 10px">
		<hr/>
	</div>
</div>

<table>
	<tbody>
		<tr>
			<td>
			</td>
			<td>
				<div class="span4">
					<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#map-meta-display">
						<i class=" icon-eye-open icon-white"></i>
						<span class="caret"></span>
					</button>
					<div id="map-meta-display" class="collapse out" style="border-style:solid; border-width:1px; border-color:#d3d3d3; margin:10px;">
						<div style="padding: 10px">Change meta-data displayed in map:</div>
						<form class="form-horizontal" style="padding:0px 5px 0 20px;">
							<fieldset>		    	
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="name"> Name 
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="accession"> Accession # 
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="strain"> Strain
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="serotype"> Serotype
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="isolation_host"> Isolation Host
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="isolation_source"> Isolation Source 
								</label>
								<label>
									<input class="map-meta" type="checkbox" name="map-meta-option" value="isolation_date"> Isolation Date
								</label>														   			   						   
							</fieldset>
							<button id="update-map-meta" class="btn btn-small" style="margin:10px 0 0 10px;">Update</button>
						</form>
					</div>
				</div>
			</td>
		</tr>
		<tr colspan="2">
			<td>
				<div class="span7">			
					<form class="form-inline">
						<fieldset>
							<input id="advancedMapLocation" class="span6" type="text" placeholder="Search for a location">
							<button type="button" class="btn" onclick="codeAdvancedMapAddress()">Search</button>
						</fieldset>
					</form>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="span7" id="advanced-map-canvas" style="height:300px"></div>
			</td>
			<td>
				<div class="span4" style="border:solid;border-width:1px;border-color:#d3d3d3;height:300px;overflow:auto">
					<div style="padding:10px">
						<span class="help-block"></span>
						<ul style="padding:0px;margin:0px">
							<li id="advancedMapStrainList" style="list-style:none">
							</li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">

var public_genomes = <TMPL_VAR public_genomes>;
var public_location_genomes = {};
var private_genomes = <TMPL_VAR private_genomes>;
var private_location_genomes = {};
visableData = ['name'];

var visableMarkers = {};
var multiMarkers = {};
var mapFactory;
var map;

//This disables the enter key from submitting the form to an empty url
$(function(){
	$("#advancedMapLocation").keypress(function(e){
		var k=e.keyCode || e.which;
		if(k==13){
			e.preventDefault();
		}
	});
});

function onLoadCheck() {
	$('#strainInfoTabs').show("slow");
}

$('a[href="#map_search_tab"]').click( function(){
	setTimeout("showMap()", 0);
});

function showMap() {
	var mapOptions = {
		center: new google.maps.LatLng(-0.000, 0.000),
		zoom: 1,
		streetViewControl: false,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	mapFactory = new Map(mapOptions, "advanced-map-canvas");
	map = mapFactory.initializeMap();

	var lists = mapFactory.addMultiMarkers(public_genomes, public_location_genomes, map, "<TMPL_IF LOCATION><TMPL_VAR strainLocation></TMPL_IF>");
	multiMarkers = lists[0];
	var clusterList = lists[1];

	visableMarkers = multiMarkers;

	var mcOptions = {gridSize: 50, maxZoom: 15};
	var mc = new MarkerClusterer(map, clusterList, mcOptions);

	google.maps.event.addListener(map, 'bounds_changed', function() {
		visableMarkers = mapFactory.updateVisibleMarkers(visableMarkers, multiMarkers, map, "advancedMapStrainList");
		updateMeta('advancedLocationList', visableData);
	});
}

function codeAdvancedMapAddress() {
	var address = document.getElementById('advancedMapLocation').value;
	var results = mapFactory.geoCodeMapAddress(address, map);
}

//Refactor the meta info tabs
function updateMeta(tab, visibleData) {
	if(typeof visibleData === 'undefined' || visibleData.length == 0) {
		visibleData = ['name'];
	}
	if(tab == 'advancedLocationList') {
		//This needs to be changed to account for public and private data
		var dropDown = $('#advancedMapStrainList');
		dropDown.empty();
		
		$.each( visableMarkers, function(feature_id, feature_obj) {
			var location = multiMarkers[feature_id].location;
			var lab = metaLabel(public_location_genomes[feature_id], visibleData);
			
			dropDown.append(
				'<li>'+location+' - '+lab+'<a href="/strain_info?genome='+feature_id+'"><i class="icon-search"></i> info</a></li>'
				);
		});	
	}
} 

// Create labels for a genome with required meta data
function metaLabel(feature, vdata) {
	var label = [];
	if(vdata.indexOf('name') != -1) {
		label.push(feature.uniquename);
	}
	
	if(vdata.indexOf('accession') != -1) {
		if(typeof feature.primary_dbxref !== 'undefined') {
			label.push(feature.primary_dbxref);
		} else {
			label.push('NA');
		}
	}
	
	var metaDataTypes = ['strain', 'serotype', 'isolation_host', 'isolation_source', 'isolation_date'];
	for(var i=0; i<metaDataTypes.length; i++) {
		var x = metaDataTypes[i];
		
		if(vdata.indexOf(x) != -1) {
			
			if(typeof feature[x] !== 'undefined') {
				var sublabel = [];
				
				for(var j=0; j<feature[x].length; j++) {
					sublabel.push(feature[x][j]);
				}
				
				var sublabel_string = sublabel.join();
				label.push(sublabel_string);
			} else {
				label.push('NA');
			}
		}
	}
	return label.join('|');
}

//Refactor this
$('#update-map-meta').click(function(event) {
	event.preventDefault();
	visableData = [];
	$('input[name="map-meta-option"]:checked').each( function(i, e) { visableData.push( $( e ).val() ); });
	updateMeta('advancedLocationList', visableData);
	return false;
});

</script>