<div id="amrSelect" class="span9 tab-pane">
	<table>
		<tbody>
			<tr>
				<td>
				</td>
				<td>
					<input id="amr-autocomplete" type="text" class="input-xlarge" placeholder="Filter amr genes in list" onkeyup="metaTab.filterList('amr', amr_genes, undefined, metaTabSelections)">
				</td>
				<td>
					<div class="span2">
						<label class="checkbox" for="select-all-amr">
							<input id="select-all-amr" type="checkbox" onclick="selectAll('amr')"> Select All 
						</label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="row-fluid">
		<div class="span6" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
			<div style="padding:10px">
				<fieldset>
					<span class="help-block">Select on one or more amr genes</span>
					<ul id="amrListSelection" style="padding:0px;margin:0px">
						<li style="list-style-type:none">
						</li>
					</ul>
				</fieldset>
			</div>
		</div>
		<div class="span6">
			<div id="amr-categories" style="padding:10px">
			</div>
			<div><button class="btn btn-link" type="button">Show all genes in list</button></div>
			<script type="text/javascript">
			var amrCategories = <TMPL_VAR amrCategories>;
			$('#amr-categories').append('<span class="help-block">Select from categories below to filter list of AMR genes</span>');
			$.each(amrCategories.data, function(index, object) {
				var categoryTitle = capitaliseFirstLetter(index.toString());
				var titleDiv = '<span class="help-block">'+categoryTitle+': '+'</span>'
				$('#amr-categories').append(titleDiv);
				$('#amr-categories').append('<select name="amr-categories" id="'+index+'" class="input-xlarge"></select>');
				$.each(object, function(index, object) {
					$('#amr-categories select[id="'+object.parent_name+'"]').append(
						'<option id="amr-category-'+object.name+'" name="amr-category" value="'+object.cvterm_id+'">'+capitaliseFirstLetter(object.name)+'</option>'
						);
				});
			});
			function capitaliseFirstLetter(string)
			{
				return string.charAt(0).toUpperCase() + string.slice(1);
			}
			function updateAmrCats() {
				var amrCatList = $('input[name="amr-category"]').serialize();
				$.ajax({
					type: "POST",
					url: "/virulence-factors/categories",
					data: amrCatList,
					success : $('button[data-dismiss="modal"]').click(),
					dataType : "json"
				});
			}
/*			function getCategories (option) {
				alert("");
				console.log(option.value);
			}*/
			$('select[name="amr-categories"]').change(function() {
				//console.log(this.value);
			});
			</script>
		</div>
	</div>

	<div style="display:none;border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
		<div style="padding:10px">
			<fieldset>
				<ul id="selectedAmrList" style="padding:0px;margin:0px">
					<li style="list-style-type:none">
					</li>
				</ul>
			</fieldset>
		</div>
	</div>
</div>