<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar_vir_amr.tmpl">

<script src="/App/Styling/js/jquery-1.9.1.js"></script>
<script src="/App/Styling/js/jquery-ui-1.10.1.js"></script>
<script type="text/javascript" src="/App/Styling/js/intro.js"></script>
<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.1.css">
<link rel="stylesheet" href="/App/Styling/css/introjs.css">

<body onload="updateVFAMRMeta()" style="background-color:#796e6c">

	<div class="container" style="background-color:#FFFFFF">

		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
			<h1><span>VIRULENCE & AMR</span> <span style="color:#d41616">INFORMATION</span></h1>
		</div>

		<span class="help-block" style="margin:0px 10px 0px 10px">Select 1 or more from each of the virulence factors, antimicrobial resistnce genes, and from the strain list (horizontal tabs). A table will generate below showing whether your selected strains contain the chosen virulence factors or anitmicrobial resistance genes. You can also look up descrptive information on each of the virulence factors or antimicrobial resistance genes by navigating the tabs on the left. <a class="btn btn-small" href="javascript:void(0);" onclick="startIntro();">Show me how</a></span>

		<div style="padding:20px">
			<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#vf-amr-meta-display">
				<i class=" icon-eye-open icon-white"></i>
				<span class="caret"></span>
			</button>
			<div id="vf-amr-meta-display" class="collapse out" style="border-style:solid; border-width:1px; border-color:#d3d3d3; margin:10px;">
				<div style="padding: 10px">Change meta-data displayed in genome list:</div>
				<form class="form-horizontal" style="padding:0px 5px 0 20px;">
					<fieldset>		    	
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="name"> Name 
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="accession"> Accession # 
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="strain"> Strain
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="serotype"> Serotype
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="isolation_host"> Isolation Host
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="isolation_source"> Isolation Source 
						</label>
						<label>
							<input class="vf-amr-meta" type="checkbox" name="vf-amr-meta-option" value="isolation_date"> Isolation Date
						</label>														   			   						   
					</fieldset>
					<button id="update-vf-amr-meta" class="btn btn-small" style="margin:10px 0 0 10px;">Update</button>
				</form>
			</div>
		</div>

		<TMPL_INCLUDE NAME="virulence_amr_by_strain_form.tmpl">

		<div id="wheel-loader" style="margin:0px 0px 30px 0px;display:none" align="middle"><small><em><img src="/App/Pictures/wheel-loader.gif"> Loading Info...</em></small></div>

	</div>
</body>
<TMPL_INCLUDE NAME="footer.tmpl">

</html>

<script type="text/javascript">
function startIntro(){
	var intro = introJs();
	intro.setOptions({
		steps: [
		{
			element: '#virSelectTab',
			intro: "Select 1 or more virulence factors from the list below by clicking the check boxes."
		},
		{
			element: '#amrSelectTab',
			intro: "Select this tab to view a list of antimicrobial resistance genes. Select 1 or more of these antimicrobial resistance genes from the list by clicking the check boxes.",
		},
		{
			element: '#strainSelectTab',
			intro: "Select this tab to view a list of E. coli genomes. Select 1 or more of these E. coli genomes from the list above by clicking the check boxes.",
		},
		]
	});
	intro.start();
}

$('#update-vf-amr-meta').click(function(event) {
	event.preventDefault();
	visableData = [];
	$('input[name="vf-amr-meta-option"]:checked').each( function(i, e) { visableData.push( $( e ).val() ); });
	updateVFAMRMeta(visableData);
	return false;
});

function updateVFAMRMeta(visibleData) {
	if(typeof visibleData === 'undefined' || visibleData.length == 0) {
		visibleData = ['name'];
	}
		//This needs to be changed to account for public and private data
		var dropDown = $('#pubStrainList');
		dropDown.empty();
		$.each( public_genomes, function(feature_id, feature_obj) {
			var lab = metaLabel(public_genomes[feature_id], visibleData);
			dropDown.append(
				'<li style="list-style-type:none">'+
				'<label class="checkbox" for="'+feature_id+'"><input id="'+feature_id+'" class="checkbox" type="checkbox" value="'+feature_id+'" name="selectedStrains"/>'+lab+'</label>'+
				'</li>'
				);
		});	
	} 

// Create labels for a genome with required meta data
function metaLabel(feature, vdata) {
	var label = [];
	if(vdata.indexOf('name') != -1) {
		label.push(feature.uniquename);
	}
	
	if(vdata.indexOf('accession') != -1) {
		if(typeof feature.primary_dbxref !== 'undefined') {
			label.push(feature.primary_dbxref);
		} else {
			label.push('NA');
		}
	}
	
	var metaDataTypes = ['strain', 'serotype', 'isolation_host', 'isolation_source', 'isolation_date'];
	for(var i=0; i<metaDataTypes.length; i++) {
		var x = metaDataTypes[i];
		
		if(vdata.indexOf(x) != -1) {
			
			if(typeof feature[x] !== 'undefined') {
				var sublabel = [];
				
				for(var j=0; j<feature[x].length; j++) {
					sublabel.push(feature[x][j]);
				}
				
				var sublabel_string = sublabel.join();
				label.push(sublabel_string);
			} else {
				label.push('NA');
			}
		}
	}
	return label.join('|');
}

</script>

