<div id="myCarousel" class="carousel slide container">
	<!-- Carousel items -->
	<div class="carousel-inner" style="background-color:#FFFFFF">
		<div class="active item" align="middle">
			<img src="/App/Pictures/header.png" alt="header" height="300px">
			<div class="carousel-caption"><p>Public Health Agency of Canada</p></div>
		</div>
		<div class="item" align="middle">
			<img src="/App/Pictures/header.png" alt="header" height="300px">
			<div class="carousel-caption"><p>Look up detailed information about a particular E. coli strain</p></div>
		</div>
		<div class="item" align="middle">
			<img src="/App/Pictures/header.png" alt="header" height="300px">
			<div class="carousel-caption"><p>View a detailed group based analysis of E. Coli strains</p></div>
		</div>
				<div class="item" align="middle">
			<img src="/App/Pictures/header.png" alt="header" height="300px">
			<div class="carousel-caption"><p>Log in to upload and perform deep anaylsis on your own strains</p></div>
		</div>
	</div>
	<!-- Carousel nav-->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<script>
$('.carousel').carousel();
</script>