<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body onload="initialize()" style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<TMPL_INCLUDE NAME="carousel.tmpl">

	<div class="container" style="background-color:#FFFFFF; margin-top:5px">
		
		<div class="row-fluid">

			<TMPL_INCLUDE NAME="single_strain_search_form.tmpl">

			<TMPL_INCLUDE NAME="multi_strain_selection_form_home.tmpl">			

			<TMPL_INCLUDE NAME="bioinfo_menu_home.tmpl">

		</div>

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>