
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<img class="pull-right" src="/App/Pictures/white_agency_logo.png" style="width:25%;height:25%;padding:0.5%">
			</div>
		</div>
	</div>
