
	<div class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<p class="navbar-text" align="right"> This is where we can put agency info and logos</p>
			</div>
		</div>
	</div>
