<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="onLoadCheck()" style="background-color:#796e6c">
	<div class="row-fluid">
		<div class="container" style="background-color:#FFFFFF">
	
			<form id="password_forgot" action="<TMPL_VAR rm>" method="post">

				<div id="form_legend">Forgot Password</div>
				<div id="form_instructions">
					Enter your username, and a new password will be emailed to you.
				</div>
				<fieldset>
					<div><label for='u_username'>username</label>
		  				<input type="text" id='u_username' name='u_username' size="15" maxlength='20' value="<TMPL_VAR u_username>" />
		      				<TMPL_VAR err_u_username>
					</div>
					<div><label> </label>
		  				<input type="submit" class="button" value="Email new password" />
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<script>document.forms[0].u_username.focus()</script>

</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>	
