<!DOCTYPE html>
<html>

<head>

	<TMPL_INCLUDE NAME="header2.tmpl">
	<link rel="stylesheet" href="/App/Styling/css/genes_search.css">
	<script src="/App/Lib/js/genes_search.js"></script>
	
	
</head>

<body>

	<TMPL_INCLUDE NAME="page_top.tmpl">
	
	<div class="intro">
		<p>Search for the presence or absence of virulence factor genes or antimicrobial resistance genes in genomes of interest.
		Detailed information on individual virulence factor or antimicrobial resistance genes can be retrieved from this page.</p>
	</div>
	
	<div class="toc">	
	<div class="well toc-well" >
		
  	</div>
  	</div>
	
	<div id="search">
		
		<ul class="nav nav-pills nav-justified">
		  <li class="active"><a href="#querygenes" data-toggle="tab">1. Select Genes</a></li>
		  <li><a href="#genomes" data-toggle="tab">2. Select Genomes</a></li>
		  <li><a href="#finalize" data-toggle="tab">3. Submit Query</a></li>
		</ul>
		
		<div class="tab-content">
		<div class="tab-pane active" id="querygenes">
			<p>Select one or more virulence factors or amr genes from the list:</p>
		 	
			<div id="vfgenes">
			
				<div class="row">
					<div class="col-md-6">
						<ul id="vf-selected">
						</ul> 
					</div>
				</div>
			
		 		<div class="row">
		  	
					<div class="col-md-3">
						<input id="vf-autocomplete" type="text" class="form-control" placeholder="Filter virulence factors in list"/>
					</div>
						
					<div class="col-md-2 col-md-offset-1">
						<label class="checkbox" for="vf-select-all">
							<input id="vf-select-all" type="checkbox"/> Select All 
						</label>
					</div>
				</div>
		
				<div class="row">
					<div class="col-md-6" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:650px;overflow:auto">
						<div style="padding:10px">
						<fieldset>
							<span>Select on one or more virulence factors</span>
								<ul id="vf-list" style="padding:0px;margin:0px">
								</ul>
						</fieldset>
						</div>
					</div>
					<div class="col-md-6">
						<div id="vf-categories" style="padding:10px">
						</div>
					
					</div>
				</div>
			
			</div>
			
			<div id="amrgenes">
			
				<div class="row">
					<div class="col-md-6">
						<ul id="amr-selected">
						</ul> 
					</div>
				</div>
			
		 		<div class="row">
		  	
					<div class="col-md-3">
						<input id="amr-autocomplete" type="text" class="form-control" placeholder="Filter AMR genes in list"/>
					</div>
						
					<div class="col-md-2 col-md-offset-1">
						<label class="checkbox" for="amr-select-all">
							<input id="amr-select-all" type="checkbox"/> Select All 
						</label>
					</div>
				</div>
		
				<div class="row">
					<div class="col-md-6" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:650px;overflow:auto">
						<div style="padding:10px">
						<fieldset>
							<span>Select on one or more AMR genes</span>
								<ul id="amr-list" style="padding:0px;margin:0px">
								</ul>
						</fieldset>
						</div>
					</div>
					<div class="col-md-6">
						<div id="amr-categories" style="padding:10px">
						</div>
					
					</div>
				</div>
			
			</div>
			
		</div>
		  
		<div class="tab-pane" id="genomes">
		  	<p>Select one or more genomes from the list, phylogenetic tree or map:</p>
		  	<div id="selected_genomes">
		  		
		  	</div>
		  	<TMPL_INCLUDE NAME="genome_selection_window.tmpl">
		</div>
		
		<div class="tab-pane" id="finalize">
			<div id="vf-selected-count"></div>
		  	<div id="amr-selected-count"></div>
		  	<div id="selected_genome_count"></div>
		  	<p>Click <code>Submit</code> below or return to <code>Select Genes</code> tab or 
		  	   <code>Select Genomes</code> tab to modify query.</p>
		  	   
		  	<form id='query-gene-form'>
		  		<div class="row">
		  		
		  			<div class="col-xs-2">
		  				<button class="btn btn-primary" type="submit" value="Submit">Submit</button>
		  			</div>
		  			<div class="col-xs-2">
		  				<button class="btn btn-danger" type="reset" onclick="history.go(0)" value="Reset">Reset</button>
		  			</div>
		  		</div>
		  	</form>
		  	
		  	
		  </div>
		</div>

	</div>
	

	
	<TMPL_INCLUDE NAME="page_bottom.tmpl">

	<script type="text/javascript">	
		// Initialise JSON data objects
		var vf = <TMPL_VAR vf>;
		var amr = <TMPL_VAR amr>;
		var categories = <TMPL_VAR categories>;
		var public_genomes = <TMPL_VAR public_genomes>;
		var private_genomes = <TMPL_VAR private_genomes>;
		var tree = <TMPL_VAR tree_json>;
		
		// Data objects
		viewController.init(public_genomes, private_genomes, 'multi_select', '/strains/info');
		
		// Search forms
		viewController.sideBar($('#search-utilities'));
		
		// Genome selection form
		viewController.createSelectionView($('#selected_genomes'), $('#selected_genome_count'))
		viewController.createView('list', $('#strains_list'));
		viewController.createView('tree', $('#strains_tree'), tree);

		
		// Gene selection form
		
		// Initialisation
		var vfData = initGeneList(vf, 'vf', categories.vfCats, $('#vf-list'), $('#vf-selected'), $('#vf-selected-count'), $('#vf-categories'), $('#vf-autocomplete'));
		var amrData = initGeneList(amr, 'amr', categories.amrCats, $('#amr-list'), $('#amr-selected'), $('#amr-selected-count'), $('#amr-categories'), $('#amr-autocomplete'));
		appendGeneList(vfData);
		appendCategories(vfData);
		appendGeneList(amrData);
		appendCategories(amrData);
		$('#amr-autocomplete').keyup(function () {
			filterGeneList(vfData);	
		});
		$('#amr-autocomplete').keyup(function () {
			filterGeneList(vfData);	
		});
		$('#query-gene-form').submit(function(e)
			console.log('submitting')
		);
		
	</script>
	
	
</body>

</html>
