<!DOCTYPE html>
<html>

<head>

	<TMPL_INCLUDE NAME="header2.tmpl">
	<link rel="stylesheet" href="/App/Styling/css/genes_info.css">
	
	<script>var page_name = 'genes';</script>
	<script src="/App/Lib/js/genes_info.js"></script>
	
</head>

<body>

	<TMPL_INCLUDE NAME="page_top.tmpl">
	
	<!--HEADER SECTION-->
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title">Overview</h4>
  		</div>
	  	<div id="gene-info-meta" class="panel-body">
	  	
			<div class="row" style="margin:20px 0 20px">
				<div class="col-md-12">
					<TMPL_IF is_amr>
					<span class="overview-header">Antimicrobial Resistance Gene: </span>
					<TMPL_ELSE>
					<span class="overview-header">Virulence Factor Gene: </span>
					</TMPL_IF>
				</div>
				<div class="col-md-12">
					<h3><TMPL_VAR gene_name></h3>
				</div>
				
				<TMPL_IF gene_synonyms>
				
				<div class="row">
					<div class="col-md-12">
						<span class="muted">Synonym(s): </span>
					</div>
					<div class="col-md-12">
						<span style="padding-left:10px"><TMPL_VAR gene_synonyms></span>
					</div>
				</div>
				
				</TMPL_IF>
				
				<div class="col-md-12 horizontal-line"></div>
			</div>
			
	  		<div id='gene-info-category'>
	  			<div class="row">
					<div class="col-md-12" style="padding-bottom: 10px"><span class="text-info"><strong>Category Path</strong></span></div>
				</div>
	  			
	  		</div>
	  		
	  		
	  		<div id='gene-info-suppl'>
	  			<div class="row">
					<div class="col-md-12" style="padding-bottom: 10px"><span class="text-info"><strong>Supplementary Info</strong></span></div>
				</div>
				
				<TMPL_IF gene_accessions>
				<div class="row">
					<div class="col-md-12">
						<TMPL_IF is_amr>
						<span class="overview-header">Antimicrobial Resistance Ontology term(s): </span>
						<TMPL_ELSE>
						<span class="overview-header">VFDB ID: </span>
						</TMPL_IF>
					</div>
					<div class="col-md-12">
						<TMPL_LOOP gene_accessions>
						<span style="padding-left:10px">
							<TMPL_VAR accession>
						</span>
						</TMPL_LOOP>
					</div>
				</div>
				</TMPL_IF>
				
				<TMPL_IF gene_strain>
				<div class="row">
					<div class="col-md-12">
						<span class="overview-header">Isolated from:</span>
					</div>
					<div class="col-md-12">
						<span style="padding-left:10px">
							Escherichia coli <TMPL_VAR gene_strain>
						</span>
					</div>
				</div>
				</TMPL_IF>
				
				<TMPL_IF gene_plasmid>
				<div class="row">
					<div class="col-md-12">
						<span class="overview-header">Source plasmid:</span>
					</div>
					<div class="col-md-12">
						<span style="padding-left:10px">
							<TMPL_VAR gene_plasmid>
						</span>
					</div>
				</div>
				</TMPL_IF>
				
	  		</div>
	  		
	  		
	  	</div>
	</div>
	
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title">Genome Alleles</h4>
  		</div>
	  	<div id="gene-info-list" class="panel-body">
	  		<div id="allele_summary">
	  		</div>
	  		<div id="allele_table">
	  		</div>
	  	</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title">Gene Tree</h4>
  		</div>
	  	<div id="gene-info-tree" class="panel-body ">
	  		
      		<div id="tree_psa">
      			<p>Too few sequences. Tree unavailable.</p>
      		</div>
		      	
	  	</div>
	</div>
	<div class="panel panel-default">
  		<div class="panel-heading">
    		<h4 class="panel-title">Multiple Sequence Alignment</h4>
  		</div>
	  	<div id="gene-info-msa" class="panel-body superphy-msa">
	  		
      		<div id="msa_psa">
      			<p>Too few/many sequences. Alignment unavailable.</p>
      		</div>
		      	
	  	</div>
	</div>
	
	<TMPL_INCLUDE NAME="page_bottom.tmpl">

	<script type="text/javascript">
		var public_genomes = <TMPL_VAR public_genomes>;
		var private_genomes = <TMPL_VAR private_genomes>;
		var alleles = <TMPL_VAR allele_json>;
		var gene_id = <TMPL_VAR gene_id>;
		var gene_type = '<TMPL_VAR gene_type>';
		var category = <TMPL_VAR category_json>;
		
		var allele_tree = null;
		var allele_msa = null;
		var genome_subset = null;
		<TMPL_IF tree_json>
		allele_tree = tree_json;
		</TMPL_IF>
		<TMPL_IF msa_json>
		allele_msa = <TMPL_VAR msa_json>;
		</TMPL_IF>
		<TMPL_IF genomes_json>
		genome_subset = <TMPL_VAR genomes_json>;
		</TMPL_IF>
		
		// Data objects
		viewController.init(public_genomes, private_genomes, 'multi_select', '/strains/info', genome_subset);
		var locusData = new LocusController(alleles);
		
		// Alleles
		//viewController.createView('list', $('#allele_list'), locusData);
		viewController.createTicker('allele', $("#allele_summary"), locusData);
		viewController.createView('table', $('#allele_table'), locusData);
		
		// Tree
		if(allele_tree) {
			$('#tree_psa').hide();
			viewController.createView('tree', $('#allele_tree'), allele_tree, locusData);
		}
		
		// MSA
		if(allele_msa) {
			$('#msa_psa').hide();
			viewController.createView('msa', $('#allele_msa'), allele_msa, locusData);
		}
		
		// Search forms
		viewController.sideBar($('#search-utilities'));
		
		// Page stuff
		
		// Categories
		categoryView(category, $('#gene-info-category'))
		
	</script>
	
	
</body>

</html>
