<!-- List, Tree and Map Views for Genome Selection -->

<div id="genome_selection_window">
	<ul id="gs_tabs" class="nav nav-tabs">
		<li class="active"><a href="#strains_table" data-toggle="tab">Genome List</a></li>
		<li><a href="#strains_tree" data-toggle="tab">Phylogenetic Tree</a></li>
		<li><a href="#strains_map" data-toggle="tab">Geospatial View</a></li>
	</ul>
	<div id="gs_content" class="tab-content">
		<div class="tab-pane superphy-list active" id="strains_table">
		</div>
	  	<div class="tab-pane" id="strains_tree">
	  	</div>
		<div class="tab-pane" id="strains_map">
	    	</div>
	    
    </div>
</div>
