<!-- List, Tree and Map Views for Genome Selection -->

<div id="genome_selection_window">
	<ul id="view_tabs" class="nav nav-tabs">
		<li><a href="#strains_list" data-toggle="tab">Genome List</a></li>
		<li><a href="#strains_tree" data-toggle="tab">Phylogenetic Tree</a></li>
		<li class="active"><a href="#strains_map" data-toggle="tab">Geospatial View</a></li>
	</ul>
	<div id="view_content" class="tab-content">
	  	<div class="tab-pane" id="strains_tree">
	  	</div>
	  	<div class="tab-pane superphy-list" id="strains_list">
	    </div>
	    <div class="tab-pane active" id="strains_map">
	    </div>
    </div>
</div>
	
		
