<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body style="background-color:#796e6c">

<script type="text/javascript">

	var hostList = <TMPL_VAR json_hosts>;
	
	// Initialize the host list
	$(document).ready( function() {
	
		var $el = $("#inputHost");
		$el.empty(); // remove old options
		
		// Add hosts to drop down
		$.each(hostList, function(key, value) {
	  		$el.append($("<option></option>")
	     	.attr("value", key).text(value));
		});
		
		// Set default host and associated properties
		<TMPL_IF selected_host>
		
			// Select host
			var currHost = '<TMPL_var selected_host>';
			alert(currHost);
			$("#inputHost option[value="+currHost+"]").attr("selected", "selected");
			
			// If host is other, unhide the other textboxes
			if(currHost == 'other') {
				$("#inputOtherHost").show();
				$('#inputHostName').attr("required", true);
				$('#inputHostGenus').attr("required", true);
				$('#inputHostSpecies').attr("required", true);
			}
			
			// Select source
			var cat = sourceCategories[currHost];
			var $el = $("#inputSource");
			$el.empty(); // remove old options
			
			$.each(sourceList[cat], function(key, value) {
		  		$el.append($("<option></option>")
		     	.attr("value", key).text(value));
			});
			
			// Set default source if defined
			<TMPL_IF selected_source>
				
				var currSource = '<TMPL_VAR selected_source>';
				$("#inputSource option[value="+currSource+"]").attr("selected", "selected");
				
				// Unhide other textbox if needed
				if(currSource == 'other') {
					$("#inputOtherSource").show();
					$('#inputSourceName').attr("required", true);
				}
				
			<TMPL_ELSE>
				$el.append($("<option></option>")
				.attr("value","").attr("selected", "selected").text("--Select Source--"));
				
			</TMPL_IF>
			
				

		<TMPL_ELSE>
			$el.append($("<option></option>")
			.attr("value","").attr("selected", "selected").text("--Select Host--"));
		</TMPL_IF>
		
		$("#inputGenomeName").focus();
		
	});
	
</script>

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#FFFFFF">
		
		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
			<h1><TMPL_IF new_genome>Upload a Genome<TMPL_ELSE>Modify Genome Attributes</TMPL_IF></h1>
		</div>

		<TMPL_INCLUDE NAME="genome_uploader_form.tmpl">

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>