<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#FFFFFF">
		
		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
			<h1><TMPL_IF new_genome>Upload a Genome<TMPL_ELSE>Modify Genome Attributes</TMPL_IF></h1>
		</div>

		<TMPL_INCLUDE NAME="genome_uploader_form.tmpl">

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>