<div class="span2">
	<form class="form" method="post" action="/group_compare_test/" enctype="application/x-www-form-urlencoded">
		<button id="demo" class="btn btn-primary span12" type="submit">DEMO</button>
	</form>
</div>