<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<script src="/App/Styling/js/jquery-1.9.1.js"></script>
<script src="/App/Styling/js/jquery-ui-1.10.1.js"></script>
<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.1.css">

<TMPL_INCLUDE NAME="nav_bar.tmpl">

<body onload="onLoadCheck()" style="background-color:#796e6c">
	<div class="container" style="background-color:#FFFFFF">
		
		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px"><h1>Group Wise Comparisons</h1></div>
		
		<div><TMPL_INCLUDE NAME="group_wise_comparison_form_TEMP.tmpl"></div>
		
		<span class="help-block" style="padding:10px">Soon you will be able to select groups of strains from the map or the phylogenetic tree, but they are both shown here for reference as to what the site will look like</span>
		
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#mapTreeSelect" data-toggle="tab">Strain Selections</a></li>
				<li id="groupWiseDataLink" style="display:none"><a href="#groupWiseData" data-toggle="tab">Data</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="mapTreeSelect">
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#mapSelect" data-toggle="tab">Select from Map</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="mapSelect">
								<div id="map_div" style="border-style:solid;border-width:1px;border-color:#d3d3d3;margin:0px 10px 10px 0px;padding:10px"><div id="map_canvas" style="height:300px"></div></div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="groupWiseData">
					<div class="tabbable">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#binaryData" data-toggle="tab">Binary Data</a></li>
							<li><a href="#snpData" data-toggle="tab">SNP Data</a></li>
							<li><a href="#groupWisePhyloTree" data-toggle="tab">Phylogram</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="binaryData">
								<div class="row-fluid">
									<h4 style="margin:10px">Binary Data</h4>
									<div class="span5" style="margin:10px;height:300px;overflow:auto">
										<table class="table table-striped table-condensed">
											<thead>Group 1</thead>
											<tr>
												<th>Locus Name</th>
												<th>Strains Present</th>
												<th>Strains Absent</th>
												<th>p-value</th>
											</tr>
											<TMPL_LOOP NAME=GROUP1BINARYDATA>
											<tr><td><TMPL_VAR NAME=locusname>
												<td><a id="strainsPresent" title="Strains: <TMPL_LOOP NAME=present><a><TMPL_VAR NAME=strain></a> </TMPL_LOOP>"><TMPL_VAR NAME=present_count></a></td>
												<td><a id ="strainsAbsent" title="Strains: <TMPL_LOOP NAME=absent><a><TMPL_VAR NAME=strain></a> </TMPL_LOOP>"><TMPL_VAR NAME=absent_count></a></td>
												<td>< 0.001</td>
											</td></tr></TMPL_LOOP>
										</table>
									</div>
									<div class="span5 pull-right" style="margin:10px;height:300px;overflow:auto">
										<table class="table table-striped table-condensed">
											<thead>Group 2</thead>
											<tr>
												<th>Locus Name</th>
												<th>Strains Present</th>
												<th>Strains Absent</th>
												<th>p-value</th>
											</tr>
											<TMPL_LOOP NAME=GROUP2BINARYDATA>
											<tr><td><TMPL_VAR NAME=locusname>
												<td><a id="strainsPresent" title="Strains: <TMPL_LOOP NAME=present><a><TMPL_VAR NAME=strain></a> </TMPL_LOOP>"><TMPL_VAR NAME=present_count></a></td>
												<td><a id ="strainsAbsent" title="Strains: <TMPL_LOOP NAME=absent><a><TMPL_VAR NAME=strain></a> </TMPL_LOOP>"><TMPL_VAR NAME=absent_count></a></td>
												<td>< 0.001</td>
											</td></tr></TMPL_LOOP>
										</table>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="snpData">
								<div class="row-fluid">
									<h4 style="margin:10px">SNP Data</h4>
									<div class="span5" style="margin:10px;height:300px;overflow:auto">
										<table class="table table-striped table-condensed">
											<thead>Group 1</thead>
											<tr>
												<th>Locus Name</th>
												<th>A</th>
												<th>T</th>
												<th>C</th>
												<th>G</th>
												<th>p-value</th>
											</tr>
											<TMPL_LOOP NAME=GROUP1SNPDATA>
											<tr><td><TMPL_VAR NAME=locusname>
												<td><a id="adeninePresent" title="Strains: <TMPL_LOOP NAME=adenine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=adenine_count></a></td>
												<td><a id="thymidinePresent" title="Strains: <TMPL_LOOP NAME=thymidine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=thymidine_count></a></td>
												<td><a id="cytosinePresent" title="Strains: <TMPL_LOOP NAME=cytosine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=cytosine_count></a></td>
												<td><a id="guaninePresent" title="Strains: <TMPL_LOOP NAME=guanine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=guanine_count></a></td>
												<td>< 0.001</td>
											</td></tr></TMPL_LOOP>
										</table>
									</div>
									<div class="span5 pull-right" style="margin:10px;height:300px;overflow:auto">
										<table class="table table-striped table-condensed">
											<thead>Group 2</thead>
											<tr>
												<th>Locus Name</th>
												<th>A</th>
												<th>T</th>
												<th>C</th>
												<th>G</th>
												<th>p-value</th>
											</tr>
											<TMPL_LOOP NAME=GROUP2SNPDATA>
											<tr><td><TMPL_VAR NAME=locusname>
												<td><a id="adeninePresent" title="Strains: <TMPL_LOOP NAME=adenine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=adenine_count></a></td>
												<td><a id="thymidinePresent" title="Strains: <TMPL_LOOP NAME=thymidine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=thymidine_count></a></td>
												<td><a id="cytosinePresent" title="Strains: <TMPL_LOOP NAME=cytosine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=cytosine_count></a></td>
												<td><a id="guaninePresent" title="Strains: <TMPL_LOOP NAME=guanine><TMPL_VAR NAME=strain> </TMPL_LOOP>"><TMPL_VAR NAME=guanine_count></a></td>
												<td>< 0.001</td>
											</td></tr></TMPL_LOOP>
										</table>
									</div>
								</div>
							</div>

							<div class="tab-pane" id="groupWisePhyloTree">
								<div id="svgCanvas" style="padding:5px">
									<TMPL_INCLUDE NAME="phylogeny_group_wise_comparisons.tmpl">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="validator" style="display:none"><TMPL_VAR NAME=VALIDATOR></div>
</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>

<script type="text/javascript">
/*Global variables set here*/
google.maps.visualRefresh = true;

var FEATURE_TABLE_JSON = <TMPL_VAR NAME=strainJSONData>;
/* 
Back lists that will get called to the client after page has loaded.
These remain as global constants.
*/
var ISOLATION_LOCATION_JSON = {};
var SEROTYPE_JSON = {};
var ISOLATION_HOST_JSON = {};
var ISOLATION_SOURCE_JSON = {};
var ISOLATION_DATE_JSON = {};

//List of public feature ids used to get data for view switching 
var featureIdList = "";
$(document).ready(function() {
	for (i=0 ; i<FEATURE_TABLE_JSON.data.length-1 ; i++) {
		featureIdList = featureIdList + String(FEATURE_TABLE_JSON.data[i].feature_id) + ",";
	}
	featureIdList = featureIdList + String(FEATURE_TABLE_JSON.data[FEATURE_TABLE_JSON.data.length-1].feature_id);
});

/*Functions set here*/
function onLoadCheck() {
	initialize();
}


//Will initialize the map and grab all of the lists needed for form switching.
function initialize() {
	checkGroupWiseValidator();
	getBackList('/isolation_location_form' , ISOLATION_LOCATION_JSON);
	getBackList("/serotype_form" , SEROTYPE_JSON);
	getBackList("/host_source_form" , ISOLATION_HOST_JSON);
	getBackList("/isolation_source_form" , ISOLATION_SOURCE_JSON);
	getBackList("/isolation_date_form" , ISOLATION_DATE_JSON);

	var LatLng1 = new google.maps.LatLng(49.134890, -122.901435);

	var mapOptions = {	
		center: LatLng1,
		zoom: 2,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);
}

function checkGroupWiseValidator() {
	if ($('#validator').is(':empty')) {
	}
	else {
		$('#svgCanvas').show("slow", $('#groupWiseDataLink').show("slow"));
	}
}

function getBackList(urlName,formType) {
	$.ajax({
		type: "POST",
		url: urlName,
		data: { public_id_list: featureIdList }
	}).done(function (returned_data) {
		console.log(returned_data);
		formType.json = $.parseJSON(returned_data);
	});
}

/*
The next functions are for switching form views:
*/

$('#commonNameView').click(function () {
	changeListView(FEATURE_TABLE_JSON.json);
});
$('#accessionNumberView').click(function () {
	changeListView(FEATURE_TABLE_JSON.json);
});
$('#isolationHostView').click(function () {
	changeListView(ISOLATION_HOST_JSON.json);
});
$('#isolationSourceView').click(function () {
	changeListView(ISOLATION_SOURCE_JSON.json);
});
$('#serotypeView').click(function () {
	changeListView(SEROTYPE_JSON.json);
});
$('#isolationDateView').click(function () {
	changeListView(ISOLATION_DATE_JSON.json);
});
$('#isolationLocationView').click(function () {
	changeListView(ISOLATION_LOCATION_JSON.json);
});

function changeListView(jsonList) {
	$('#pubStrainList').empty();
	$('#strainListForm span').show();
	$('#group1 li').closest('li').remove();
	$('#buttonRemoveGroup1').hide();
	$('#group2 li').closest('li').remove();
	$('#buttonRemoveGroup2').hide();

	for (i=0 ; i<jsonList.data.length ; i++) {
		var li = document.createElement("li");
		var label = document.createElement("label");
		var description = document.createTextNode(jsonList.data[i].value);	

		var checkbox = document.createElement("input");

		li.setAttribute("style","list-style:none");

		label.className = "checkbox";

		checkbox.type = "checkbox";
		checkbox.id = "checkboxName";
		checkbox.name = "multiStrainNames";
		checkbox.value = jsonList.data[i].feature_id;

		label.appendChild(checkbox);
		label.appendChild(description);
		li.appendChild(label);

		document.getElementById('pubStrainList').appendChild(li);
	}
}

</script>