<div class="container" style="padding-bottom:10px">
	<script src="/App/Styling/js/jquery-1.9.1.js"></script>
	<script src="/App/Styling/js/jquery-ui-1.10.1.js"></script>
	<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.1.css">

	<div class="span3" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
		<form id="strainListForm" class="form" action="/group_wise_comparisons/" method="post" enctype="application/x-www-form-urlencoded">
			<div style="padding:10px">
				<fieldset>
					<span class="help-block"></span>
					<ul id="pubStrainList" style="padding:0px;margin:0px">
						<TMPL_LOOP NAME=FEATURES>
						<li style="list-style:none">
							<label class="checkbox">
								<input id="checkboxName" class="checkbox" type="checkbox" value='<TMPL_VAR NAME=FEATURE_ID>' name="groupWiseStrainNames"><TMPL_VAR NAME=UNIQUENAME></input>
							</label>
						</li>
						</TMPL_LOOP>
					</ul>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="span2 btn-group btn-group-vertical">
		<button id="buttonGroup1" class="btn btn-primary span12" type="button" onclick="checkGroup1Fields()"><i class="icon-arrow-right icon-white"></i> Add to Group 1</button>
		<button id="buttonGroup2" class="btn btn-primary span12" type="button" onclick="checkGroup2Fields()"><i class="icon-arrow-right icon-white"></i> Add to Group 2</button>
		<button id="compareGrouped" class="btn btn-primary span12" type="button" value="Submit"><i class="icon-th icon-white"></i> Compare Grouped</button>
		<!--button id="compareUngrouped" class="btn btn-primary span12" type="button" value="Submit"><i class="icon-th-list icon-white"></i> Compare Ungrouped</button-->
		<button id="groupWiseReload" class="btn btn-primary span12" type="button" value="Reload"><i class="icon-refresh icon-white"></i> Refresh</button>
	</div>

	<form id="groupedForm" class="form" method="post" action="/group_wise_comparisons/" enctype="application/x-www-form-urlencoded">
		<div class="span3" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;max-height:400px">
			<div id="group1" style="max-height:350px;overflow:auto">
				<fieldset>
					<span class="help-block">Group 1: </span>
				</fieldset>
			</div>
			<button id="buttonRemoveGroup1" class="btn btn-primary btn-small" type="button" style="display:none;margin:5px 0px 0px 0px" onclick="removeGroup1()"><i class="icon-arrow-left icon-white"></i> Remove from Group 1</button>
		</div>

		<div class="span3" style="border:solid;border-width:1px;border-color:#d3d3d3;padding:10px;max-height:400px">
			<div id="group2" style="max-height:350px;overflow:auto">
				<fieldset>
					<span class="help-block">Group 2: </span>
				</fieldset>
			</div>
			<button id="buttonRemoveGroup2" class="btn btn-primary btn-small" type="button" style="display:none;margin:5px 0px 0px 0px" onclick="removeGroup2()"><i class="icon-arrow-left icon-white"></i> Remove from Group 2</button>
		</div>
	</form>
</div>

<script>
function checkGroup1Fields() {
	var selected = 0;
	var i = 0;
	while (i < document.getElementById('strainListForm').getElementsByTagName('input').length){
		if (document.getElementById('strainListForm').getElementsByTagName('input')[i].checked == true) {
			selected++;
			i++;
		}
		else {
			i++;
		}
	}
	if (selected == 0) {
		alert("Nothing to add to Group 1");
		return false;
	}
	else {
		var checkedOneOption = $('#pubStrainList li :checked').closest('li');
		checkedOneOption.clone().appendTo('#group1');
		checkedOneOption.remove();
		unCheckAllBoxes();
		changeGroupName();
		$('#buttonRemoveGroup1').show();
		return true;
	}
}
function checkGroup2Fields() {
	var selected = 0;
	var i = 0;
	while (i < document.getElementById('strainListForm').getElementsByTagName('input').length){
		if (document.getElementById('strainListForm').getElementsByTagName('input')[i].checked == true) {
			selected++;
			i++;
		}
		else {
			i++;
		}
	}
	if (selected == 0) {
		alert("Nothing to add to Group 2");
		return false;
	}
	else {
		var checkedTwoOption = $('#pubStrainList li :checked').closest('li');
		checkedTwoOption.clone().appendTo('#group2');
		checkedTwoOption.remove();
		unCheckAllBoxes();
		changeGroupName();
		$('#buttonRemoveGroup2').show();
		return true;
	}
}
function unCheckAllBoxes() {
	$('input[type=checkbox]').each(function() 
	{ 
		this.checked = false; 
	}); 
}
function changeGroupName() {
	$('#group1 input[type=checkbox]').attr("name", "group1");
	$('#group2 input[type=checkbox]').attr("name", "group2");
}
$("#compareGrouped").click( function(e) {
	e.preventDefault();
	checkGroupedFields(groupedForm);
});
function checkGroupedFields(groupedForm) {
	if ($('#group1 li').length == 0 && $('#group2 li').length == 0) {
		alert('No groups to be compared');
	}
	else {
		$('#svgCanvas').hide();
		$('#groupWiseDataLink').hide("slow");
		$('#groupWiseData').hide("slow");
		$('#wheel-loader').show();
		$('#group1 input[type=checkbox]').each(function()
		{
			this.checked = true;
		});
		$('#group2 input[type=checkbox]').each(function()
		{
			this.checked = true;
		});
		$('#binaryTableGroup1').empty();
		$('#binaryTableGroup2').empty();
		$('#snpTableGroup1').empty();
		$('#snpTableGroup2').empty();
		$.post("/group_wise_info/" , ($('#group1 input').serialize() + '&' + $('#group2 input').serialize()),
			function(data) {
				$('#wheel-loader').hide();
				//Append binary table head for group1 and 2
				$('#binaryTableGroup1').prepend('<thead>Group 1</thead><tr><th>Locus ID</th><th>Strains Present</th><th>Strains Absent</th><th>p-value</th></tr>');
				//Append binary table body
				for (var i = 0; i < data.data[0].length; i++) {
					$('#binaryTableGroup1').append('<tr><td>'+data.data[0][i].locusname+'</td><td>'+data.data[0][i].present_count+'</td><td>'+data.data[0][i].absent_count+'</td><td>< 0.001</td></tr>');
				};
				$('#binaryTableGroup2').prepend('<thead>Group 2</thead><tr><th>Locus ID</th><th>Strains Present</th><th>Strains Absent</th><th>p-value</th></tr>');
				//Append binary table body
				for (var i = 0; i < data.data[2].length; i++) {
					$('#binaryTableGroup2').append('<tr><td>'+data.data[2][i].locusname+'</td><td>'+data.data[2][i].present_count+'</td><td>'+data.data[2][i].absent_count+'</td><td>< 0.001</td></tr>');
				};
				//Append snp table head
				$('#snpTableGroup1').append('<thead>Group 1</thead><tr><th>SNP ID</th><th>A</th><th>T</th><th>C</th><th>G</th><th>p-value</th></tr>');
				for (var i = 0; i < data.data[1].length; i++) {
					$('#snpTableGroup1').append('<tr><td>'+data.data[1][i].locusname+'</td><td>'+data.data[1][i].adenine_count+'</td><td>'+data.data[1][i].thymidine_count+'</td><td>'+data.data[1][i].cytosine_count+'</td><td>'+data.data[1][i].guanine_count+'</td><td>< 0.001</td></tr>');
				}
				//Append snp table body
				$('#snpTableGroup2').append('<thead>Group 2</thead><tr><th>SNP ID</th><th>A</th><th>T</th><th>C</th><th>G</th><th>p-value</th></tr>');
				for (var i = 0; i < data.data[3].length; i++) {
					$('#snpTableGroup2').append('<tr><td>'+data.data[3][i].locusname+'</td><td>'+data.data[3][i].adenine_count+'</td><td>'+data.data[3][i].thymidine_count+'</td><td>'+data.data[3][i].cytosine_count+'</td><td>'+data.data[3][i].guanine_count+'</td><td>< 0.001</td></tr>');
				}
				$('#svgCanvas').empty();
				$('#svgCanvas').append('<div style="align:middle">'+data.data[4]+'</div>');
				$('#svgCanvas').show("slow");
				$('#groupWiseDataLink').show("slow");
				$('#groupWiseData').show();
				unCheckAllBoxes();

			} , "json");
}
}
function removeGroup1() {
	var selected = 0;
	var i = 0;
	while (i < document.getElementById('group1').getElementsByTagName('input').length){
		if (document.getElementById('group1').getElementsByTagName('input')[i].checked == true) {
			selected++;
			i++;
		}
		else {
			i++;
		}
	}
	if (selected == 0) {
		alert("Nothing to remove from Group 1");
		return false;
	}
	else {
		$('#group1 li :checked').closest('li').appendTo('#pubStrainList');
		unCheckAllBoxes();
		if ($('#group1 li').length == 0) {
			$('#buttonRemoveGroup1').hide();
		}
		else{
		}
		return true;
	}
}
function removeGroup2() {
	var selected = 0;
	var i = 0;
	while (i < document.getElementById('group2').getElementsByTagName('input').length){
		if (document.getElementById('group2').getElementsByTagName('input')[i].checked == true) {
			selected++;
			i++;
		}
		else {
			i++;
		}
	}
	if (selected == 0) {
		alert("Nothing to remove from Group 2");
		return false;
	}
	else {
		$('#group2 li :checked').closest('li').appendTo('#pubStrainList');
		unCheckAllBoxes();
		if ($('#group2 li').length == 0) {
			$('#buttonRemoveGroup2').hide();
		}
		else{
		}
		return true;
	}
}
$('#groupWiseReload').click( function() {
	$('#commonNameView').trigger("click");
});
</script>