<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<body onload="initialize()" style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<TMPL_INCLUDE NAME="carousel.tmpl">

	<div class="container" style="background-color:#FFFFFF; margin-top:5px">
	
		<!-- gg_status_div -->
		
		<div class="row-fluid">

			<div class="span4" style="min-height:300px">
				<h5 style="margin:10px 0px 5px 0px">Search for info about a particular strain</h5>
				<hr/>
			</div>

			<div class="span4" style="min-height:300px">
				<h5 style="margin:10px 0px 5px 0px">Perform group wise comparisons of strains</h5>
				<hr/>
			</div>

			<div class="span4" style="min-height:300px">
				<h5 style="margin:10px 0px 5px 0px">View strain associated virulence factors</h5>
				<hr/>
			</div>

		</div>

	</div>

	<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>
