<!DOCTYPE html>
<html>

<head>
	<TMPL_INCLUDE NAME="header.tmpl">
	<!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>

<body style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<TMPL_INCLUDE NAME="carousel.tmpl">

	<div class="container" style="background-color:#FFFFFF; margin-top:5px">

		<!-- gg_status_div -->
		<div class="row-fluid">
			<div class="span12">
				<div style="padding: 10px; text-align: center;">
					<div class="well">
						<p><span class="text-info" style="font-size: 16pt;"><strong><em>Beta Release</em></strong></span>&nbsp; &nbsp; Some features are still under development and may not be fully functional.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span4" style="min-height:300px">
				<h4 style="margin:10px 0px 5px 0px">SuperPhy</h4>
				<br/>
				<span class="help-block">Is a user-friendly, integrated platform for the predictive genomic analyses of <em>Escherichia coli</em>. <br/><br/>Provides near real-time analyses of thousands of genomes using novel computational approaches. <br/><br/>Generates results that are understandable and useful to a wide community of users.</span>
			</div>

			<div class="span4" style="min-height:300px">
				<h4 style="margin:10px 0px 5px 0px">What you can do with SuperPhy</h4>
				<br/>
				<span class="help-block">View rich meta-information for <TMPL_VAR NAME=GENOMECOUNT> E. coli genomes. <br/><br/>Perform group based analyses of E. coli genomes over <TMPL_VAR NAME=LOCICOUNT> Loci and <TMPL_VAR NAME=SNPCOUNT> SNP markers. <br/><br/>Examine the presence of <TMPL_VAR NAME=VIRFACTORCOUNT> virulence factors and <TMPL_VAR NAME=AMRGENECOUNT> anitmicrobial resistance determinants. <br/><br/>Log in to upload and perform analyses on your own genomes.</span>
			</div>

			<div class="span4" style="min-height:300px">
				<h4 style="margin:10px 0px 5px 0px">Contact Information</h4>
				<br/>
				<p>For more information or to discuss possible collaboration, please contact </p>
				<ul style="list-style:none">
					<li><span class="help-block">Dr. Vic Gannon or Dr. Chad Laing</span></li>
					<li>Laboratory for Foodborne Zoonoses</li>
					<li>Public Health Agency of Canada</li>
					<span class="help-block">
						<li>vic.gannon@phac-aspc.gc.ca</li>
						<li>chad.r.laing@phac-aspc.gc.ca</li>
					</span>
				</ul>
				</div>


			</div>

		</div>

		<TMPL_INCLUDE NAME="footer.tmpl">

	</body>

	</html>
