<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<head>
	<script type="text/javascript" src="/App/Styling/js/genodo_map_functions.js"></script>
</head>

<body style="background-color:#796e6c">

	<div id="map-canvas" style="height:300px;padding:10px"></div>
	<div id="map-canvas2" style="height:300px;padding:10px"></div>
	<div id="map-canvas3" style="height:300px;padding:10px"></div>

</body>
</html>
<script type="text/javascript">

var mapOptions = {
	center: new google.maps.LatLng(-0.000, 0.000),
	zoom: 1,
	streetViewControl: false,
	mapTypeId: google.maps.MapTypeId.ROADMAP
};
var mapCreator = new Map(mapOptions, "map-canvas");
var map = mapCreator.initializeMap();
var marker;

google.maps.event.addListener(map, 'click', function(event) {
	marker = mapCreator.addMarker(event.latLng);
});

</script>