<!DOCTYPE html>
<html>

<TMPL_INCLUDE NAME="header.tmpl">

<head>
	<script type="text/javascript" src="/App/Styling/js/genodo_map_functions.js"></script>
	<script type="text/javascript" src="/App/Styling/js/markerclusterer.js"></script>
	<script type="text/javascript" src="/App/Styling/js/genodo_meta_tab.js"></script>
</head>

<body style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#ffffff">
		<div id="map-canvas" style="height:300px;padding:10px"></div>

		<form class="form" action="/map-example/map_example" method="post" enctype="application/x-www-form-urlencoded">
			<input type="checkbox" name="genome" value="public_176572" checked> Test Genome
			<div>
				<button id="strainInfoSearchButton" type="Submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
			</div>
		</form>

		<div>
			Location: 
			<TMPL_IF LOCATION><TMPL_VAR strainLocation></TMPL_IF>
		</div>

		<div class="span4" style="height:300px;overflow:auto">
			<ul id="visibleMarkers" style="list-style:none"></ul>
		</div>

		<div id="form-meta-display"></div>


	</div>

</body>
</html>
<script type="text/javascript">

var mapOptions = {
	center: new google.maps.LatLng(-0.000, 0.000),
	zoom: 1,
	streetViewControl: false,
	mapTypeId: google.maps.MapTypeId.ROADMAP
};
var mapFactory = new Map(mapOptions, "map-canvas");
var map = mapFactory.initializeMap();

var public_genomes = <TMPL_VAR public_genomes>;
var public_location_genomes = {};
var private_genomes = <TMPL_VAR private_genomes>;
var private_location_genomes = {};

var selectedLocation = mapFactory.parseLocation(public_genomes["<TMPL_IF LOCATION><TMPL_VAR strainLocation></TMPL_IF>"]);

var lists = mapFactory.addMultiMarkers(public_genomes, public_location_genomes, map, "<TMPL_IF LOCATION><TMPL_VAR strainLocation></TMPL_IF>");
var multiMarkers = lists[0];
var clusterList = lists[1];

var visableMarkers = multiMarkers;

var mcOptions = {gridSize: 50, maxZoom: 15}; 
var mc = new MarkerClusterer(map, clusterList, mcOptions);

var selectedMarkerOverlay = mapFactory.showSelectedGenome(selectedLocation, map);
(selectedLocation) ? map.fitBounds(selectedLocation.markerBounds) : 0;

google.maps.event.addListener(map, 'bounds_changed', function() {
	visableMarkers = mapFactory.updateVisibleMarkers(visableMarkers, multiMarkers, map, "visibleMarkers");
});


//Meta Tab Example
var metaTab = new MetaTab('map');
$('#form-meta-display').append(metaTab.form_html);

var visableData = ['name'];
var metaTabSelections = [];

$('input[name="'+metaTab.tab+'-meta-option"]').click( function() {
	metaTabSelections = metaTab.updateSelections(this.value, this.checked, metaTabSelections);
	//Need to then update list labels.
});

</script>