	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="/home">Home</a></li>
					<li><a href="/strain_info">Strain Info</a></li>
					<li><a href="/group_wise_comparisons">Group Wise Comparisons</a></li>
					<li><a href="/virulence_factors">Virulence and AMR Factors</a></li>
					<li class="dropdown">
						<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Genome Uploader <b class="caret"></b></a>
						gg_genome_uploader
					</li>
					<li><a href="/statistics">Statistics</a></li>
				</ul>

				<ul class="nav pull-right dropdown"><li>gg_username</li></ul>

				<!--div class="dropdown">
					<a class="btn dropdown-toggle btn-inverse btn-small" data-toggle="dropdown" href="#">
						Viewing Options
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Common Name</label>
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Genbank ID</label>
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Primary Key</label>
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">Serotype</label>
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">Source of Isolation</label>
						<label class="radio"><input type="radio" name="optionsRadios" id="optionsRadios6" value="option6">Date of Isolation</label>
					</ul>
				</div-->

			</div>
		</div>
		<script type="text/javascript" src="/App/Styling/js/bootstrap.js">$('.dropdown-toggle').dropdown()</script>
	</div>

	