<!-- Page Bottom -->

</div>
</div>
</div>
</div>
</div>
</div>
<TMPL_INCLUDE NAME="footer2.tmpl">
<script>
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#wrapper").toggleClass("active");
	});
</script>
		
