<!-- Page Top -->

<TMPL_INCLUDE NAME="nav_bar2.tmpl">
	
<div id="wrapper">
<div id="sidebar-wrapper">
	<div id="search-utilities" class="sidebar"></div>
</div>
<div id="page-content-wrapper">
<div class="page-content inset">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
    
<div class="content-header">
	<h1>
	<a id="menu-toggle" class="btn btn-default" href="#">
		<i class="fa fa-angle-double-left"></i>
		<span>Search Utilities</span>
	</a>
	<span class="title_part1"><TMPL_VAR NAME="title1"></span> <span class="title_part2"><TMPL_VAR NAME="title2"></span>
	</h1>
</div>

<!-- Page Content -->

	
		
