<!-- Search Utilities -->

<div id="utility-button" class="row">
  <a data-toggle="collapse" data-target="#utility-forms">View Tools <i class="fa fa-angle-double-down"></i></a>
</div>
<div id="utility-forms" class="row collapse">
  <div class="col-md-4">
    <div id="meta-display-form"></div>
  </div>
  <div class="col-md-8">
    <div id="filter-form"></div>
  </div>
</div>
	
		
