<!DOCTYPE html>
<html>
<head>
	<TMPL_INCLUDE NAME="header.tmpl">
	<script type="text/javascript" src="/App/Styling/js/d3.v3/d3.v3.min.js" ></script>
</head>
<body style="background-color:#796e6c">
	<TMPL_INCLUDE NAME="nav_bar.tmpl">
	<div class="container" style="background-color:#FFFFFF">
		<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
			<h1>Statistics</h1>
		</div>
	</div>
	<TMPL_INCLUDE NAME="footer.tmpl">
</body>
</html>