<div class="span4" class="row-fluid">
	<div style="border-style:solid;border-width:1px;border-color:#d3d3d3;margin:0px 10px 10px 0px;padding:10px">
		<form id="strainInfoSearch" class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				<span class="help-block">View single strain information by typing in the search box. You will see suggested strains in the database. You can also select from the drop down list below</span>
				<script src="/App/Styling/js/jquery-1.9.1.js"></script>
				<script src="/App/Styling/js/jquery-ui-1.10.1.js"></script>
				<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.1.css">
				<style>
				.ui-autocomplete {
					max-height: 200px;
					overflow-y: auto;
					overflow-x: hidden;
				}
				* html .ui-autocomplete {
					height: 100px;
				}
				</style>
				<script>
				$(function() {
					var availableTags = [ <TMPL_LOOP NAME=FEATURES> { label:"<TMPL_VAR NAME=UNIQUENAME>", value:"<TMPL_VAR NAME=UNIQUENAME>" } , </TMPL_LOOP> ]
					$("#autoComp").autocomplete({
						source: availableTags,
						select: function( event, ui ) {
			            $("#autoComp").val( ui.item.label ); // Display the label, but set the hidden input to the value
			            $("#autoComp_hidden").val( ui.item.value );
			            return false;
			        }

			    });
				});
				</script>
				<input id="autoComp" class="span12" type="text" autocomplete="off" placeholder="Search for a strain" name="singleStrainName"></input>
				<input id="autoComp_hidden" type="hidden" name="singleStrainID"/>
				<div>
					<button id="sSSearchButton" type="button" class="btn btn-small btn-success" value="Submit"><i class="icon-search icon-white"></i> Search</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
				<!--hr-->
			</fieldset>
		</form>
		<form class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				<span style="color:#796e6c">Select a strain from the list:</span>
				<select class="span12" style="margin:10px 0px 0px 0px" name="singleStrainID">
					<TMPL_LOOP NAME=FEATURES>
					<option value='<TMPL_VAR NAME=UNIQUENAME>'><TMPL_VAR NAME=UNIQUENAME></option>
					</TMPL_LOOP>
				</select>
				<div style="margin:10px 0px 0px 0px">
					<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> Strain Info</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
				<!--hr-->
			</fieldset>
		</form>
		
		<TMPL_IF PRIVATE_DATA>
		<form class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				<span style="color:#796e6c">Or select from your uploaded strains:</span>
				<select class="span12" style="margin:10px 0px 0px 0px" name="privateSingleStrainID">
					<TMPL_LOOP NAME=PRIVATE_FEATURES>
					<option value='<TMPL_VAR NAME=UNIQUENAME>'><TMPL_VAR NAME=UNIQUENAME></option>
					</TMPL_LOOP>
				</select>
				<div style="margin:10px 0px 0px 0px">
					<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> Strain Info</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
				<!--hr-->
			</fieldset>
		</form>
		</TMPL_IF>

	</div>

	<div id="map_div" style="display:none;border-style:solid;border-width:1px;border-color:#d3d3d3;margin:0px 10px 10px 0px;padding:10px">
		<div id="map_canvas" style="height:300px"></div>
	</div>

	<script>
	$('#sSSearchButton').click(function(){
		checkSSFields(strainInfoSearch);
	});
	</script>
	<script type="text/javascript">
	function initialize() {
		var myLatlng = new google.maps.LatLng(-25.363882,131.044922);
		var mapOptions = {
			center: myLatlng,
			zoom: 4,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"),
			mapOptions);
		
		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: '<TMPL_LOOP NAME=METADATA><TMPL_VAR NAME=UNIQUENAME></TMPL_LOOP>'
		});
	}
	function displayMap() {
		document.getElementById('map_div').style.display="block";
		initialize();
	}
	function checkSSFields(strainInfoSearch) {
		if (strainInfoSearch.singleStrainID.value == "") {
			alert("You must enter a valid search term.");
			return false;
		}
		else {
			$('#strainInfoSearch').submit();
			return true;
		}
	}
	function checkSingleSeq() {
		if ($('#validator').is(':empty')) {
		}
		else {
			$('#svgCanvas').show("slow", displayMap(), $('#strainInfoDiv').show("slow"));
		}
	}
	function onLoadCheck() {
		initialize();
		checkSingleSeq();
	}
	</script>
</div>