
	
	<div class="tab-pane active" id="overviewTab" style="margin:10px 10px 10px 0px">
	

		<!--HEADER SECTION-->
		<div class="row-fluid" style="margin:20px 0 30px">
			<div class="span2">
			<span class="muted">Genome Name: </span>
			</div>
			<div class="span10"><h3><TMPL_VAR uniquename></h3></div>
			<TMPL_IF synonyms>
			<div class="span2">
			<span class="muted">Synonyms: </span>
			</div>
			<TMPL_LOOP synonyms>
				<span style="padding-left:10px"><TMPL_VAR synonym></span>
			</TMPL_LOOP>
			</TMPL_IF>
		</div>
		
		<TMPL_IF privateGenome>
	
		<div class="row-fluid">
			<div class="span11">
			<span class="muted">User-submitted genome</span>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Submitted by: </span>
			</div>
			<div class="span10">
				<span style="padding-left:10px"><TMPL_VAR username></span>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Privacy setting: </span>
			</div>
			<div class="span10">
				<span style="padding-left:10px"><TMPL_VAR privacy></span>
			</div>
		</div>
	
		</TMPL_IF>
		
		<hr>
		
		<!--STRAIN SECTION-->
		<div class="row-fluid">
			<div class="span4" style="padding-left:20px;"><span class="text-info"><strong>Strain Information</strong></span></div>
		</div>
			
		<TMPL_IF strains>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Strain: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP strains>
				<span style="padding-left:10px"><TMPL_VAR strain></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF serotypes>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Serotype: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP serotypes>
				<span style="padding-left:10px"><TMPL_VAR serotype></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF isolation_dates>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Isolation Date: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP isolation_dates>
				<span style="padding-left:10px"><TMPL_VAR isolation_date></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF isolation_hosts>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Isolation Host: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP isolation_hosts>
				<span style="padding-left:10px"><TMPL_VAR isolation_host></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF isolation_ages>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Host Age: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP isolation_ages>
				<span style="padding-left:10px"><TMPL_VAR isolation_age></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF isolation_sources>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Isolation Source: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP isolation_sources>
				<span style="padding-left:10px"><TMPL_VAR isolation_source></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF syndromes>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Associated Diseases and Symptoms: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP syndromes>
				<span style="padding-left:10px"><TMPL_VAR syndrome></span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<hr>

		<!--GENOME SECTION-->
		<div class="row-fluid">
			<div class="span4" style="padding-left:20px;"><span class="text-info"><strong>Genome Information</strong></span></div>
		</div>
		
		<TMPL_IF secondary_dbxrefs>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">External IDs: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP secondary_dbxrefs>
				<span style="padding-left:10px">
				<TMPL_IF secondary_dbxref_link>
				<a href='<TMPL_VAR secondary_dbxref_link>'><TMPL_VAR secondary_dbxref></a>
				<TMPL_ELSE>
				<TMPL_VAR secondary_dbxref>
				</TMPL_IF>
				</span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF mol_types>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Genome Type: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP mol_types>
				<span style="padding-left:10px">
				<TMPL_VAR mol_type>
				</span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF finisheds>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Closed: </span>
			</div>
			<div class="span10">
			<TMPL_LOOP finisheds>
				<span style="padding-left:10px">
				<TMPL_VAR finished>
				</span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF descriptions>
		<div class="row-fluid">
			<div class="span11">
			<span class="muted">Genome Description: </span>
			</div>
			<div class="span11">
			<ol>
			<TMPL_LOOP descriptions>
				<li><TMPL_VAR description></li>
			</TMPL_LOOP>
			</ol>
			</div>
		</div>
		</TMPL_IF>
		
		<TMPL_IF keywordss>
		<div class="row-fluid">
			<div class="span2">
			<span class="muted">Keywords: </span>
			</div>
			<div class="span4">
			<TMPL_LOOP keywordss>
				<span style="padding-left:10px">
				<TMPL_VAR keywords>
				</span>
			</TMPL_LOOP>
			</div>
		</div>
		</TMPL_IF>
		
		<hr>
		
	</div>
	
