<style>
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
* html .ui-autocomplete {
	height: 100px;
}
</style>

<div class="span4" class="row-fluid">
	<div style="border-style:solid;border-width:1px;border-color:#d3d3d3;margin:0px 10px 10px 0px;padding:10px">

		<span class="help-block">View detailed information for any of the genomes in the database, by typing in the search box. 
			You will see a list appear with suggested genomes matching the typed text. 
			You can also select from the drop down list below.<br/><br/>
			Alternatively,  use the <a href="/strain-info/search" title="Advanced Search" style="color:#08c">Advanced Search</a> page to retrieve genome information.<br/><br/></span>
			
			<div id="form-meta-display"></div>

			<form id="pubStrainInfoSearch" class="form" action="/strain-info/strain_info" method="post" enctype="application/x-www-form-urlencoded">
				<fieldset>
					
					<input id="strain-autocomp" class="span12" type="text" autocomplete="off" placeholder="Search for a genome" name="genomeName"></input>
					<input id="strain-autocomp-hidden" type="hidden" name="genome"/>
					<div>
						<button id="strainInfoSearchButton" type="button" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
						<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
					</div>
				</fieldset>
			</form>
			
			<form id="pubStrainInfoDropdown" class="form" action="/strain-info/strain_info" method="post" enctype="application/x-www-form-urlencoded">
				<fieldset>
					<span style="color:#796e6c">Select a genome from the list:</span>
					<select id="pubStrainList" class="span12" style="margin:10px 0px 0px 0px" name="genome">
					</select>
					
					<div style="margin:10px 0px 0px 0px">
						<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
						<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
					</div>
				</fieldset>
			</form>
			
			<TMPL_IF PRIVATE_DATA>
			<form class="form" action="/strain-info/strain_info" method="post" enctype="application/x-www-form-urlencoded">
				<fieldset>
					<p style="color:#796e6c">Or select from user submitted genomes:<br>
						<span style="padding-left:20px"><small>[Pri] private</small></span>
						<span style="padding-left:20px"><small>[Pub] public</small></span>
					</p>
					<select class="span12" style="margin:10px 0px 0px 0px" name="privateSingleStrainID">
						<TMPL_LOOP NAME=PRIVATE_FEATURES>
						<option value='<TMPL_VAR NAME=FEATURE_ID>'><TMPL_VAR NAME=DISPLAYNAME></option>
						</TMPL_LOOP>
					</select>
					<div style="margin:10px 0px 0px 0px">
						<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
						<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
					</div>
				</fieldset>
			</form>
			</TMPL_IF>

		</div>
	</div>

	<script type="text/javascript">

	var metaTab = new MetaTab('strainList');
	$('#form-meta-display').append(metaTab.form_html);

	var metaTabSelections = ['name'];

	//On start run this function
	$(function() {
		$('input[name="'+metaTab.tab+'-meta-option"][value="name"]').attr("checked", true);
		updateMeta(metaTabSelections);
	});

	$('input[name="'+metaTab.tab+'-meta-option"]').change( function() {
		metaTabSelections = metaTab.updateSelections(this.value, this.checked, metaTabSelections);
		updateMeta(metaTabSelections);
	});


	// UpdateMeta is a common function in all pages but implemented differently
	function updateMeta(selectedMetaData) {
	// Default is to display just the name
	if(typeof selectedMetaData === 'undefined' || selectedMetaData.length == 0) {
		selectedMetaData = ['name'];
	}

	// Generate new labels
	var dropDown = $('#pubStrainList')
	dropDown.empty();
	var availableTags = [];
	$.each( public_genomes, function(i, n) {
		var lab = metaTab.metaLabel(n, selectedMetaData);
		availableTags.push ( { label:lab, value:i } );
	});
	
	// Add to display
	availableTags.sort(function(a, b) {
	    // Compare the 2 labels
	    if(a.label < b.label) return -1;
	    if(a.label > b.label) return 1;
	    return 0;
	});
	
	$.each( availableTags, function(i, n) {
		dropDown.append(
			$('<option></option>').val(n.value).html(n.label)
			);
	});
	
	$("#strain-autocomp").autocomplete({
		source: availableTags,
		select: function( event, ui ) {
			$("#strain-autocomp").val( ui.item.label );
			$("#strain-autocomp-hidden").val( ui.item.value );
			return false;
		},
		focus: function( event, ui ) {
			$("#strain-autocomp").val( ui.item.label );
			return false;  
		}
	});
}

$('#strainInfoSearchButton').click(function(){
	checkSIFields(pubStrainInfoSearch);
});

function checkSIFields(pubStrainInfoSearch) {
	if (pubStrainInfoSearch.genome.value == "") {
		alert("You must enter a valid search term.");
		return false;
	}
	else {
		$('#pubStrainInfoSearch').submit();
		return true;
	}
}

</script>