<style>
	.ui-autocomplete {
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	* html .ui-autocomplete {
		height: 100px;
	}
</style>

<div class="span4" class="row-fluid">
	<div style="border-style:solid;border-width:1px;border-color:#d3d3d3;margin:0px 10px 10px 0px;padding:10px">
		<!-- Text -->
		<span class="help-block">View detailed information for any of the genomes in the database, by typing in the search box. 
		You will see a list appear with suggested genomes matching the typed text. 
		You can also select from the drop down list below, .<br/><br/>
		Alternatively,  use the <a href="/strain-info/search" title="Advanced Search">Advanced Search</a> page to retrieve genome information.<br/><br/></span>
		
		<!-- Display Meta Data -->
		<button type="button" class="btn btn-mini btn-info" data-toggle="collapse" data-target="#form-meta-display">
			<i class=" icon-eye-open icon-white"></i>
			<span class="caret"></span>
		</button>
		
		<div id="form-meta-display" class="collapse out" style="border-style:solid; border-width:1px; border-color:#d3d3d3; margin:10px;">
			<div style="padding:10px;">Change meta-data displayed in form:</div>
			<form class="form-horizontal" style="padding:0px 5px 0 20px;">
		    <fieldset>		    	
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="name"> Name 
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="accession"> Accession # 
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="strain"> Strain
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="serotype"> Serotype
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="isolation_host"> Isolation Host
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="isolation_source"> Isolation Source 
				</label>
				<label>
					<input class="form-meta" type="checkbox" name="form-meta-option" value="isolation_date"> Isolation Date
				</label>														   			   						   
		    </fieldset>
		    <button id="update-meta" class="btn btn-small" style="margin:10px 0 0 10px;">Update</button>
		    </form>
		</div>
		
		<!-- Public Strains -->
		<form id="pubStrainInfoSearch" class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				
				<input id="strain-autocomp" class="span12" type="text" autocomplete="off" placeholder="Search for a genome" name="genome"></input>
				<input id="strain-autocomp-hidden" type="hidden" name="genome"/>
				<div>
					<button id="strainInfoSearchButton" type="button" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
			</fieldset>
		</form>

		<div id="strainInfoProgressbar" class="progress progress-striped active" style="display:none">
			<div class="bar" style="width:100%;">Updating...</div>
		</div>
		
		<form id="pubStrainInfoDropdown" class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				<span style="color:#796e6c">Select a genome from the list:</span>
				<select id="pubStrainList" class="span12" style="margin:10px 0px 0px 0px" name="genome">
				</select>
				
				<div style="margin:10px 0px 0px 0px">
					<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
			</fieldset>
		</form>
		
		<TMPL_IF PRIVATE_DATA>
		<form class="form" action="/strain_info/" method="post" enctype="application/x-www-form-urlencoded">
			<fieldset>
				<p style="color:#796e6c">Or select from user submitted genomes:<br>
					<span style="padding-left:20px"><small>[Pri] private</small></span>
					<span style="padding-left:20px"><small>[Pub] public</small></span>
				</p>
				<select class="span12" style="margin:10px 0px 0px 0px" name="privateSingleStrainID">
					<TMPL_LOOP NAME=PRIVATE_FEATURES>
					<option value='<TMPL_VAR NAME=FEATURE_ID>'><TMPL_VAR NAME=DISPLAYNAME></option>
					</TMPL_LOOP>
				</select>
				<div style="margin:10px 0px 0px 0px">
					<button id="showSSInfo" type="submit" class="btn btn-small btn-primary" value="Submit"><i class="icon-search icon-white"></i> Search</button>
					<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
				</div>
			</fieldset>
		</form>
		</TMPL_IF>

	</div>
</div>

<script type="text/javascript">

$(function() {
	// Populate forms
	updateMeta();
});

// Change meta displayed info in form
$("#update-meta").click(function(event) {
	event.preventDefault();
	var visibleData = [];
	$("input[name='form-meta-option']:checked").each( function(i, e) { visibleData.push( $( e ).val() ); });
	updateMeta(visibleData);

	return false;
});
			
// Update and reload forms with new meta data
function updateMeta(visableData) {
	// Default is to display just the name
	if(typeof visableData === 'undefined') {
		visableData = ['name'];
	}

	var dropDown = $('#pubStrainList')
	dropDown.empty();
	var availableTags = [];
	$.each( public_genomes, function(i, n) {
		var lab = metaLabel(n, visableData);
		availableTags.push ( { label:lab, value:i } );
		dropDown.append(
        	$('<option></option>').val(i).html(lab)
		);
	});
	
	$("#strain-autocomp").autocomplete({
		source: availableTags,
		select: function( event, ui ) {
			$("#strain-autocomp").val( ui.item.label );
			$("#strain-autocomp-hidden").val( ui.item.value );
			return false;
		}
	});
}

// Create labels for a genome with required meta data
function metaLabel(feature, vdata) {
	var label = [];
	if(vdata.indexOf('name') != -1) {
		label.push(feature.uniquename);
	}
	
	if(vdata.indexOf('accession') != -1) {
		if(typeof feature.primary_dbxref !== 'undefined') {
			label.push(feature.primary_dbxref);
		} else {
			label.push('NA');
		}
	}
	
	var metaDataTypes = ['strain', 'serotype', 'isolation_host', 'isolation_source', 'isolation_date'];
	for(var i=0; i<metaDataTypes.length; i++) {
		var x = metaDataTypes[i];
		
		if(vdata.indexOf(x) != -1) {
			
			if(typeof feature[x] !== 'undefined') {
				var sublabel = [];
				
				for(var j=0; j<feature[x].length; j++) {
					sublabel.push(feature[x][j]);
				}
				
				var sublabel_string = sublabel.join();
				label.push(sublabel_string);
			} else {
				label.push('NA');
			}
		}
	}
	return label.join('|');
}

$('#strainInfoSearchButton').click(function(){
	checkSIFields(pubStrainInfoSearch);
});

function checkSIFields(pubStrainInfoSearch) {
	if (pubStrainInfoSearch.singleStrainID.value == "") {
		alert("You must enter a valid search term.");
		return false;
	}
	else {
		$('#pubStrainInfoSearch').submit();
		return true;
	}
}

</script>