<!DOCTYPE html>
<html>

<head>

	<TMPL_INCLUDE NAME="header.tmpl"> 

	<!-- SuperPhyloTree -->
	<link rel="stylesheet" href="/App/Styling/css/jquery-ui-1.10.3.custom.css">
	<script src="/App/Styling/js/jquery-1.9.1.js"></script>
	<script src="/App/Styling/js/jquery-ui-1.10.3.custom.js"></script>
	<script src="/App/Lib/superphy.js"></script>
	<script src="/App/Styling/js/intro.js"></script>
	
</head>

<body style="background-color:#796e6c">

	<TMPL_INCLUDE NAME="nav_bar.tmpl">

	<div class="container" style="background-color:#FFFFFF; padding:20px;">
		<div id="test">
		</div>
	</div>

	<script type="text/javascript">
	
		var public_genomes = <TMPL_VAR public_genomes>;
		var private_genomes = <TMPL_VAR private_genomes>;
		
		var gc = new GenomeController(public_genomes, private_genomes);
		
		gc.
		
	</script>
</body>

<TMPL_INCLUDE NAME="footer.tmpl">

</html>
