<!DOCTYPE html>
<html>

<head>
	<TMPL_INCLUDE NAME="header.tmpl">
</head>

<body style="background-color:#796e6c">


<TMPL_INCLUDE NAME="nav_bar.tmpl">

<div class="container" style="background-color:#FFFFFF">

	<div style="margin:10px 10px 10px 10px;padding:10px 10px 10px 10px">
		<h1>UPLOAD A </span> <span style="color:#d41616">GENOME</span></h1>
	</div>

	<div class="row-fluid">
		<div class="span8" style="padding-top:20px;">
		Genome upload function is currently under construction.
		</div>
	</div>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">

</body>

</html>