<script>
var public_genomes = <TMPL_VAR public_genomes>;
var private_genomes = <TMPL_VAR private_genomes>;
visableData = ['name'];
</script>

<div class="container" style="padding-bottom:10px">
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#virAmrStrainSelect" data-toggle="tab">Select VIR/AMR/Strain</a></li>
			<li id="virInfoLink"><a href="#virInfo" data-toggle="tab">Virulence Factor Info</a></li>
			<li id="amrInfoLink"><a href="#amrInfo" data-toggle="tab">AMR Gene Info</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="virAmrStrainSelect">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li id="virSelectTab" class="active"><a href="#virSelect" data-toggle="tab">Select Virulence Factors</a></li>
						<li id="amrSelectTab"><a href="#amrSelect" data-toggle="tab">Select AMR Genes</a></li>
						<li id="strainSelectTab"><a href="#strainSelect" data-toggle="tab">Select Genomes</a></li>
					</ul>
					<div class="tab-content">
						<div id="virSelect" class="span9 tab-pane active" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
							<form id="strainListForm" class="form" action="/virulence_amr_by_strain/" method="post" enctype="application/x-www-form-urlencoded">
								<div style="padding:10px">
									<fieldset>
										<span class="help-block">Select on one or more virulence factors</span>
										<ul id="virListSelection" style="padding:0px;margin:0px">
											<TMPL_LOOP NAME=vFACTORS>
											<li style="list-style:none">
												<label class="checkbox">
													<input id="checkboxName" class="checkbox" type="checkbox" value='<TMPL_VAR NAME=FEATUREID>' name="selectedVirulence"><TMPL_VAR NAME=NAME> - <TMPL_VAR NAME=UNIQUENAME></input>
												</label>
											</li>
											</TMPL_LOOP>
										</ul>
									</fieldset>								
								</div>
							</div>
							<div id="amrSelect" class="span9 tab-pane" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
								<div style="padding:10px">
									<fieldset>
										<span class="help-block">Select on one or more amr genes</span>
										<ul id="amrListSelection" style="padding:0px;margin:0px">
											<TMPL_LOOP NAME=amrFACTORS>
											<li style="list-style:none">
												<label class="checkbox">
													<input id="checkboxName" class="checkbox" type="checkbox" value='<TMPL_VAR NAME=FEATUREID>' name="selectedAmr"><TMPL_VAR NAME=UNIQUENAME></input>
												</label>
											</li>
											</TMPL_LOOP>
										</ul>
									</fieldset>
								</div>
							</div>
							<div id="strainSelect" class="span9 tab-pane" style="border:solid;border-width:1px;border-color:#d3d3d3;max-height:400px;overflow:auto">
								<div style="padding:10px">
									<fieldset>
										<span class="help-block">Select on one or more strains</span>
										<ul id="pubStrainList" style="padding:0px;margin:0px">
											<TMPL_LOOP NAME=FEATURES>
											<li style="list-style:none">
												<label class="checkbox">
													<input id="checkboxName" class="checkbox" type="checkbox" value="<TMPL_VAR NAME=FEATURE_ID>" name="selectedStrains"><TMPL_VAR NAME=UNIQUENAME></input>
												</label>
											</li>
											</TMPL_LOOP>
										</ul>
									</fieldset>
								</form>
							</div>
						</div>

						<div class="span7 row fluid" style="margin:20px 10px 30px 0px">
							<button id="compareSelections" class="btn btn-primary span3" type="button" value="Submit"><i class="icon-th icon-white"></i> Compared Selections</button>
							<button id="reset" class="btn btn-danger span3" type="reset" onclick="history.go(0)" value="Reset"><i class="icon-refresh icon-white"></i> Reset</button>
						</div>
						<div id="virByStrain" class="row-fluid" style="max-height:500px;overflow:auto;margin:20px 0px 0px 0px;display:none">
							<table id="virByStrainTable" class="table table-striped table-condensed">
							</table>
						</div>

						<div id="amrByStrain" class="row-fluid" style="max-height:500px;overflow:auto;margin:20px 0px 0px 0px;display:none">
							<table id="amrByStrainTable" class="table table-striped table-condensed">
							</table>
						</div>
						<div id="legend" style="display:none"><span class="help-block">Legend:</span> <i class="icon-ok"></i> : Present; <i class="icon-remove"></i> : Absent</div>

					</div>
				</div>
			</div>
			<div class="tab-pane" id="virInfo">
				<div class="row-fluid">
					<div class="span5" style="padding:10px 0px 0px 0px">
						<p> Here you will find information about all virluence factors in the database. This is mostly to provide general
							biological information about each virulence factor.
						</p>
						<hr/>
						<form class="form" id="showVFMetaInfoForm" action="/vf_meta_info" method="post" enctype="application/x-www-form-urlencoded">
							<fieldset>
								<h5>Select a VF from the list:</h5>
								<select id="vfList" class="span12" name="VFName">
									<TMPL_LOOP NAME=vFACTORS>
									<option value='<TMPL_VAR NAME=FEATUREID>'><TMPL_VAR NAME=NAME> - <TMPL_VAR NAME=UNIQUENAME></option>
									</TMPL_LOOP>
								</select>
								<div style="margin:10px 0px 0px 0px">
									<button id="showVFMetaInfo" type="button" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> Virulence Factor Info</button>
									<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="span5">
						<div class="row-fluid">
							<div id="VFMetaInfo" style="display:none">
								<h5><u>Virulence Factor Info</u></h5>
							</div>
							<div id="vfvalidator" style="display:none"><TMPL_VAR NAME=vfVALIDATOR></div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="amrInfo">
				<div class="row-fluid">
					<div class="span5" style="padding:10px 0px 0px 0px">
						<p> Here you will find information about all AMR factors in the database. This is mostly to provide general biological information about each AMR factor.
						</p>
						<hr/>
						<form class="form" id="showAMRMetaInfoForm" action="/amr_meta_info/" method="post" enctype="application/x-www-form-urlencoded">
							<fieldset>
								<h5>Select an AMR gene from the list:</h5>
								<select class="span12" name="AMRName">
									<TMPL_LOOP NAME=amrFACTORS>
									<option value='<TMPL_VAR NAME=FEATUREID>'><TMPL_VAR NAME=UNIQUENAME></option>
									</TMPL_LOOP>
								</select>
								<div style="margin:10px 0px 0px 0px">
									<button id="showAMRMetaInfo" type="button" class="btn btn-small btn-primary" value="Submit"><i class="icon-info-sign icon-white"></i> AMR Gene Info</button>
									<button type="reset" class="btn btn-small btn-danger" name="cancel" value="Cancel"><i class="icon-remove icon-white"></i> Cancel</button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="span6">
						<div class="row-fluid">
							<div id="AMRMetaInfo" style="display:none;">
								<h5><u>Antimicrobial Resistance Gene Info</u></h5>
								<TMPL_LOOP NAME=amrMETAINFO>
								<TMPL_VAR NAME=amrUNIQUENAME>
								<strong><TMPL_VAR NAME=amrTERMNAME></strong> : <TMPL_VAR NAME=amrTERMVALUE> <br>
								</TMPL_LOOP>
							</div>
							<div id="amrvalidator" style="display:none"><TMPL_VAR NAME=amrVALIDATOR></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

$('#compareSelections').click( function(e) {
	var virListChecked = 0;
	var amrListChecked = 0;
	var strainListChecked = 0;
	$('#virListSelection input[type=checkbox]').each(function()
	{
		if (this.checked) {
			virListChecked++;
		}
		else{
		}
	});
	$('#amrListSelection input[type=checkbox]').each(function()
	{
		if (this.checked) {
			amrListChecked++;
		}
		else{
		}
	});
	$('#pubStrainList input[type=checkbox]').each(function()
	{
		if (this.checked) {
			strainListChecked++;
		}
		else{
		}
	});
	if (virListChecked == 0) {
		alert('You must select at least 1 Virulence Factor');
	}
	else if (amrListChecked == 0) {
		alert('You must select at least 1 AMR Gene');
	}
	else if (strainListChecked == 0) {
		alert('You must select at least 1 Strain');
	}
	else {
		e.preventDefault();
		$('#amrByStrain').hide("slow");
		$('#virByStrain').hide("slow");
		$('#legend').hide("slow");
		$('#wheel-loader').show();
		$('#virByStrain h4').empty();
		$('#virByStrainTable').empty();
		$('#amrByStrain h4').empty();
		$('#amrByStrainTable').empty();;
		$.post("/virulence_amr_by_strain/", ($('#virListSelection input').serialize() + '&' + $('#amrListSelection input').serialize() + '&' + $('#pubStrainList input').serialize()), 
			function(data){
				if (data == "") {
					$('#wheel-loader').hide();
					alert("Error, please try again later");
				}
				else {
			//virulence table
			$('#wheel-loader').hide();
			$('#virByStrain h4').empty();
			$('#virByStrainTable').empty();
			$('#virByStrain').prepend('<h4 style="margin:10px">Virulence</h4>');
			//append the table head
			$('#virByStrainTable').append('<thead></thead><tbody></tbody>');
			$('#virByStrainTable thead').append('<td></td>');
			for (var i = 0; i < data.data[0].strain.length; i++) {
				$('#virByStrainTable thead').append('<td>'+data.data[0].strain[i].strain_name+'</td>');
			};
			//append the table body
			for (var i = 0; i < data.data[1].virulence.length; i++) {
				$('#virByStrainTable tbody').append('<tr>');
				$('#virByStrainTable tbody').append('<td>'+data.data[1].virulence[i].gene_name+'</td>');
				for (var j = 0; j < data.data[1].virulence[i].presence_absence.length; j++) {
					if (data.data[1].virulence[i].presence_absence[j].value == 1) {
						$('#virByStrainTable tbody').append('<td><i class="icon-ok"></i></td>');
					}
					else {
						$('#virByStrainTable tbody').append('<td><i class="icon-remove"></td>');
					}
				};
				$('#virByStrainTable tbody').append('</tr>');
			};
			//amr table
			$('#amrByStrain h4').empty();
			$('#amrByStrainTable').empty();
			$('#amrByStrain').prepend('<h4 style="margin:10px">AMR</h4>');
			//append the table head
			$('#amrByStrainTable').append('<thead></thead><tbody></tbody>');
			$('#amrByStrainTable thead').append('<td></td>');
			for (var i = 0; i < data.data[0].strain.length; i++) {
				$('#amrByStrainTable thead').append('<td>'+data.data[0].strain[i].strain_name+'</td>');
			};
			//append the table body
			for (var i = 0; i < data.data[2].amr.length; i++) {
				$('#amrByStrainTable tbody').append('<tr>');
				$('#amrByStrainTable tbody').append('<td>'+data.data[2].amr[i].gene_name+'</td>');
				for (var j = 0; j < data.data[2].amr[i].presence_absence.length; j++) {
					if (data.data[2].amr[i].presence_absence[j].value == 1) {
						$('#amrByStrainTable tbody').append('<td><i class="icon-ok"></td>');
					}
					else {
						$('#amrByStrainTable tbody').append('<td><i class="icon-remove"></td>');
					}
				};
				$('#amrByStrainTable tbody').append('</tr>');
			};
			$('#legend').show("slow");
			$('#virByStrain').show("slow");
			$('#amrByStrain').show("slow");
		}							
	}, "json");
}
});

$('#showVFMetaInfo').click( function(e){
	$('#VFMetaInfo').empty();
	$('#VFMetaInfo').append('<div class="span5" id="wheel-loader" style="margin:80px 0px 0px 20px"><small><em><img src="/App/Pictures/wheel-loader.gif"> Loading Info...</em></small></div>');
	e.preventDefault();
	$.post("/vf_meta_info", $("#showVFMetaInfoForm").serialize(),  
		function(vir){
			$('#VFMetaInfo').empty();
			$('#VFMetaInfo').append('<div class="span5"><span class="muted", style="margin-left:20px;">Virulence Factor: </span></div>'+
				'<div class="span7"><h4>'+vir.data[0].gene_name+' ('+vir.data[0].uniquename+') '+'</h4></div>');

			for (var i = 1; i < vir.data.length; i++) {
				$('#VFMetaInfo').append('<div class="span12" style="margin:20px 0px 5px 20px"><span class="text-info" id="vfTerms"><strong>' + vir.data[i].term_name + '</strong></span></div><div class="span12"><ol><li style="padding-left:10px">' + vir.data[i].value + '</li></ol></div>');
			}

		}, "json" , $('#VFMetaInfo').show());
});

$('#showAMRMetaInfo').click( function(e){
	$('#AMRMetaInfo').empty();
	$('#AMRMetaInfo').append('<div class="span5" id="wheel-loader" style="margin:80px 0px 0px 20px"><small><em><img src="/App/Pictures/wheel-loader.gif"> Loading Info...</em></small></div>');
	e.preventDefault();
	$.post("/amr_meta_info", $("#showAMRMetaInfoForm").serialize(),  
		function(amr){
			$('#AMRMetaInfo').empty();
			
			var amrhtml = 
			'<div class="span3"><span class="muted", style="margin-left:20px;">AMR Gene: </span></div>'+
			'<div class="span9"><h4>'+amr.data.name+'</h4></div>';
			
			if(amr.data.synonyms.length > 0) {
				amrhtml += 
				'<div class="span3"><span class="muted" style="padding-left:20px;">Synonyms: </span></div>';
				amrhtml += '<div class="span9">';
				for(var i = 0; i < amr.data.synonyms.length; i++) {
					amrhtml += '<span style="padding-left:10px">'+amr.data.synonyms[i]+'</span>';
				}
				amrhtml += '</div>';
			}
			
			$('#AMRMetaInfo').append(amrhtml);
			
			if(amr.data.descriptions.length > 0) {

				var defhtml =
				'<div class="span12" style="margin:20px 0px 5px 20px"><span class="text-info"><strong>Description</strong></span></div>'+
				'<div class="span12"><ol>';
				
				for(var j = 0; j < amr.data.descriptions.length; j++) {
					defhtml += '<li style="padding-left:10px">'+amr.data.descriptions[j]+'</li>'
				}
				
				defhtml += '</ol></div>';
				$('#AMRMetaInfo').append(defhtml);
			}
			
			if(amr.data.aro_terms.length > 0) {

				var arohtml =
				'<div class="span12" style="margin:20px 0px 5px 20px"><span class="text-info"><strong>Antimicrobial Resistance Ontology Annotations</strong></span></div>'+
				'<div class="span12"><ol>';
				
				for(var j = 0; j < amr.data.aro_terms.length; j++) {
					arohtml += '<li style="padding-left:10px"><strong>'+amr.data.aro_terms[j].accession+' '+amr.data.aro_terms[j].term_name+
					'</strong><br>'+amr.data.aro_terms[j].term_defn+'</li>'
				}
				
				arohtml += '</ol></div>';
				$('#AMRMetaInfo').append(arohtml);
			}
			
			//$('#AMRMetaInfo').append('</div>');

		}, "json" , $('#AMRMetaInfo').show());
});

/*$('#refreshCompareSelections').click( function(){
	unCheckAllBoxes();
});*/


function unCheckAllBoxes() {
	$('.tabbable input[type=checkbox]').each(function() 
	{ 
		this.checked = false; 
	}); 
}

</script>
